<include file="Public/min-header"/>

<div class="wrapper">
    <include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	           	<div class="box-header">
	               <nav class="navbar navbar-default">
				        <div class="collapse navbar-collapse">
				          <form class="navbar-form form-inline" action="{:U('Sellerstore/infolist')}" method="get">
				            <div class="form-group">
				              	<select name='type' class='form-control'>
				              		<option value='0'>所有</option>
				              		<foreach name='nav' item='n'>
				              		<option value='{$key}'>{$n}</option>
				              		</foreach>
				              	</select>
				            </div>
				            <button type="submit" class="btn btn-default">提交</button>
                            <button type="button" onclick="location.href='{:U('Seller/Sellerstore/infolist')}'" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>信息推广</button>
				          </form>
				      	</div>
	    			</nav>
	            </div>
	             <!-- /.box-header -->
	             <div class="box-body">
	           		<div class="row">
	            	<div class="col-sm-12">
		              <table id="list-table" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
		                 <thead>
		                   <tr role="row">
			                   <th class="sorting" tabindex="0">文章标题</th>
			                   <th class="sorting" tabindex="0">关键词</th>
			                   <!-- <th class="sorting" tabindex="0">文章描述</th> -->
			                   <th class="sorting" tabindex="0">更新时间</th>
			                   <th class="sorting" tabindex="0">操作</th>
		                   </tr>
		                 </thead>
						<tbody>
						  <foreach name="list" item="vo" key="k" >
						  	<tr role="row" align="center">
		                     <td>{$vo.title|mb_substr=0,15,'utf-8'}</td>
		                     <td>{$vo.keyword}</td>
		                     <!-- <td>{$vo.sn_ids}</td> -->
		                     <td>{$vo.timer|date='Y-m-d',###}</td>
		                     <td>
		                     <a style="margin: 2px 0;"  target="_blank" href="{:U('/Inquiry/inquiry/',array('id'=>$vo['id']))}" data-toggle="tooltip" title="" class="btn btn-info" data-original-title="查看详情"><i class="fa fa-eye"></i></a>
		                      <a style="margin: 2px 0;"  class="btn btn-primary" href="{:U('Sellerstore/uddinfo',array('id'=>$vo['id']))}"><i class="fa fa-pencil"></i></a>
		                      <a style="margin: 2px 0;" href="javascript:void(0);" onclick="ajax_re_news('{$vo['id']}')" class="btn btn-default" title="重新发布新闻"><i class="fa fa-fw fa-refresh"></i></a>
		                      <a style="margin: 2px 0;" class="btn btn-danger" href="javascript:void(0)" data-url="{:U('Sellerstore/infoHandle')}" data-id="{$vo.id}" onclick="delfun(this)"><i class="fa fa-trash-o"></i></a>
							</td>
		                   </tr>
		                  </foreach>
		                   </tbody>
		                 <tfoot>

		                 </tfoot>
		               </table>
	               </div>
	          </div>
              <div class="row">
              	    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">{$page}</div>
              </div>
	          </div><!-- /.box-body -->
	        </div><!-- /.box -->
       	</div>
       </div>
   </section>
</div>
<script>
function ajax_re_news(nid){
	$.post("{:U('news/ajax_re_news')}",{'news_id':nid},function(res){
		if (res){
			alert('重新发布成功');
			location.reload();
		} else {
			alert('24小时内只能重新发布5次');
		}
	})
}
function delfun(obj){
	if(confirm('确认删除')){
		$.ajax({
			type : 'post',
			url : $(obj).attr('data-url'),
			data : {act:'del',id:$(obj).attr('data-id')},
			dataType : 'json',
			success : function(data){
				if(data){
					$(obj).parent().parent().remove();
				}else{
					layer.alert('删除失败', {icon: 2});  //alert('删除失败');
				}
			}
		})
	}
	return false;
}
</script>
</body>
</html>
