<include file="Public/min-header" />
<script type="text/javascript">
    window.UEDITOR_Admin_URL = "__ROOT__/Public/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";
</script>
<load href="__ROOT__/Public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/Public/plugins/Ueditor/ueditor.all.js"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-file"></i>修改文章</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Sellerstore/newsHandle')}">
                    <input type="hidden" name="home_is_show" value="1">
                        <!--通用信息-->
                    <div class="tab-content col-md-12">
                        <div class="tab-pane active" id="tab_tongyong">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">文章标题：</td>
                                    <td>
                                        <input type="text" class="form-control" name="title" value="{$info.title}" >
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td class="col-sm-2">作者：</td>
                                    <td>
                                        <input type="text" class="form-control" name="author" value="{$info.author}" >
                                    </td>
                                </tr> -->
                                <!-- <tr>
                                    <td>所属栏目：</td>
                                    <td >
	                                    	<input type="radio" name="sn_id" value="0" <if condition="$all eq 0"> checked="checked"</if>>所有
                                    	<foreach name='nav' item='n'>
	                                    	<input type="radio" name="sn_id" value="{$n.sn_id}" <if condition="$info[sn_id] eq $n[sn_id]"> checked="checked"</if>>{$n.sn_title}
                                    	</foreach>
                                    </td>
                                </tr> -->
                                <!-- <tr>
                                    <td>是否显示：</td>
                                    <td >
                         				<input type="radio" class="" name="is_show" value="1" <if condition="$info[is_show] eq 1"> checked="checked"</if>>是
                      					<input type="radio" class="" name="is_show" value="0" <if condition="$info[is_show] eq 0"> checked="checked"</if>>否
                                    </td>
                                </tr>
                                <tr> -->
                                    <td>关键词：</td>
                                    <td>
                                        <textarea class="form-control" name='keyword' rows="2">{$info.keyword}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>文章描述：</td>
                                    <td>
                                        <textarea class="form-control" name='description' rows="3">{$info.description}</textarea>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>缩略图：</td>
                                    <td>
                                     <img height="80" id="newsimg" src="{$info.newsimg}" nc_type="store_label">
                                      <input type="hidden" name="newsimg" value="{$info[newsimg]}">
                                        <input type="button" class="button" onClick="GetUploadify(1,'newsimg','seller','callback1')"  value="上传  缩略图"/>
                                    </td>
                                    <script type="text/javascript">
                                    function callback1(img_str){
                                        $('input[name="newsimg"]').val(img_str);
                                        $('#newsimg').attr('src',img_str);
                                    }
                                    </script>
                                </tr>
                                <!-- <tr>
                                    <td>文章来源：</td>
                                    <td>
                      					<input type="text" class="form-control" name="rep" value="{$info.rep}" >
                                    	<p class="text-warning">请填写包含http://的完整URL地址</p>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td style="vertical-align: middle;">相册：<span style="color:red">(限五张)</span></td>
                                    <td>
                                    <foreach name="goodsImages" item="vo" key="k" >
                                        <div style="width:100px; text-align:center; margin: 5px; display:inline-block;" class="goods_xc">
                                            <input type="hidden" value="{$vo['image_url']}" name="goods_images[]">
                                            <a onclick="" href="{$vo['image_url']}" target="_blank"><img width="100" height="100" src="{$vo['image_url']}"></a>
                                            <br>
                                            <a href="javascript:void(0)" onclick="ClearPicArr2(this,'{$vo['image_url']}')">删除</a>
                                        </div>
                                    </foreach>

                                        <div class="goods_xc" style="width:100px; text-align:center; margin: 5px; display:inline-block;">
                                            <input type="hidden" name="goods_images[]" value="" />
                                            <a href="javascript:void(0);" onclick="GetUploadify(5,'','goods','call_back2');"><img src="/Public/images/add-button.jpg" width="100" height="100" /></a>
                                            <br/>
                                            <a href="javascript:void(0)">&nbsp;&nbsp;</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>内容(最少添加三张图片,显得更加美观)：</td>
                                    <td class="col-xs-10">
                             			<textarea class="span12 ckeditor" id="post_content" name="content" title="">
							            {$info.content}
							        </textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="vertical-align: middle;" class="col-sm-2">公司名称：</td>
                                    <td>
                                        <input type="text" class="company_name form-control" name="company_name" value="{$companyInfo.name}">
                                    </td>
                                </tr>
                                 <tr>
                                    <td  style="vertical-align: middle;" class="col-sm-2">联系人：</td>
                                    <td>
                                        <input type="text" class="uesr_name form-control" name="connect_person" value="{$companyInfo.person}" >
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="vertical-align: middle;"  class="col-sm-2">手机：</td>
                                    <td>
                                        <input type="text" class="mobile form-control" onblur="checkPhone()" id="phone" name="person_phone" value="{$companyInfo.phone}">
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="vertical-align: middle;" class="col-sm-2">电话/微信：</td>
                                    <td>
                                        <input type="text" class="tel form-control" name="person_wechat" value="{$companyInfo.wechat}">
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="vertical-align: middle;">公司地址：</td>
                                    <td class="com_address">
                                        <div data-toggle="distpicker" style="float: left;margin:0 4px 4px 0;">
                                            <select class="form-control" id="privince" name="privince">
                                                <option value="-1">请选择省份</option>
                                                <foreach name="privinceData" item="vo1">
                                                    <option {$companyInfo['privince'] == $vo1['id'] ? 'selected' : ''} value="{$vo1.id}">{$vo1.name}</option>
                                                </foreach>
                                            </select>
                                            <select class="form-control" id="city" name="city">
                                                <option value="-1">请选择城市</option>
                                                <foreach name="cityData" item="vo2">
                                                    <option {$companyInfo['city'] == $vo2['id'] ? 'selected' : ''} value="{$vo2.id}">{$vo2.name}</option>
                                                </foreach>
                                            </select>
                                            <select class="form-control" id="area" name="area">
                                                <option value="-1">请选择区</option>
                                                <foreach name="areaData" item="vo3">
                                                    <option {$companyInfo['area'] == $vo3['id'] ? 'selected' : ''} value="{$vo3.id}">{$vo3.name}</option>
                                                </foreach>
                                            </select>
                                        </div>
                                        <input type="text" placeholder="详细地址" class="form-control" name="company_address" value="{$companyInfo.address}" >
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                	<tr>
                                		<td><input type="hidden" name="id" value="{$info.id}"></td>
                                		<td class="text-right"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td>
                                	</tr>
                                </tfoot>
                                </table>
                        </div>
                    </div>
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	$('#handleposition').submit();
}

var editor;
$(function () {
    //具体参数配置在  editor_config.js 中
    var options = {
        zIndex: 999,
        initialFrameWidth: "100%", //初化宽度
        initialFrameHeight: 350, //初化高度
        focus: false, //初始化时，是否让编辑器获得焦点true或false
        maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
        pasteplain: true, autoHeightEnabled: true,
        autotypeset: {
            mergeEmptyline: true,        //合并空行
            removeClass: true,           //去掉冗余的class
            removeEmptyline: false,      //去掉空行
            textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
            imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
            pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
            clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
            clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
            removeEmptyNode: false,      //去掉空节点
            removeTagNames: {"font": 1},
            indent: false,               //行首缩进
            indentValue: '0em'           //行首缩进的大小
        }
    };
    editor = new UE.ui.Editor(options);
    editor.render("post_content");
});

</script>
</body>
</html>
