<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
       <div class="row">
            <div class="col-xs-12">
                <div class="box">
                 <!-- /.box-header -->
                 <div class="box-body">
                    <div class="row">
                    <div class="col-sm-12">
                      <table id="list-table" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                         <thead>
                           <tr role="row">
                               <th class="sorting" tabindex="0">物品编号</th>
                               <th class="sorting" tabindex="0">物品名称</th>
                               <th class="sorting" tabindex="0">规格型号</th>
                               <th class="sorting" tabindex="0">数量</th>
                               <th class="sorting" tabindex="0">单位</th>
                               <th class="sorting" tabindex="0">单价</th>
                               <th class="sorting" tabindex="0">金额</th>
                               <th class="sorting" tabindex="0">备注</th>
                               <th class="sorting" tabindex="0">商品分类</th>
                               <th class="sorting" tabindex="0">采购单</th>
                               <th class="sorting" tabindex="0">采购合同</th>
                               <th class="sorting" tabindex="0">其他附件</th>
                           </tr>
                         </thead>
                        <tbody>
                          <foreach name="detailRes" item="vo" >
                            <tr role="row" align="center">
                             <td>{$vo.gid}</td>
                             <td>{$vo.gname}</td>
                             <td>{$vo.model}</td>
                             <td>{$vo.num}</td>
                             <td>{$vo.unit}</td>
                             <td>{$vo.price}</td>
                             <td>{$vo.money}</td>
                             <td>{$vo.remark}</td>
                             <td>你当前选择的是：{$vo.type}</td>
                             <td>
                                 <foreach name="vo.purpic" item="v">
                                     <img src="{$v}" width="100px">
                                 </foreach>
                             </td>
                             <td>
                                 <foreach name="vo.purcontract" item="v">
                                     <img src="{$v}" width="100px">
                                 </foreach>
                             </td>
                             <td>
                                 <foreach name="vo.purelse" item="v">
                                     <img src="{$v}">
                                 </foreach>
                             </td>
                           </tr>
                          </foreach>
                           </tbody>
                         <tfoot>
                         </tfoot>
                       </table>
                   </div>
              </div>
              <div class="row">
                    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">{$page}</div>
              </div>
              </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
       </div>
   </section>
</div>
</body>
</html>
