<include file="Public/min-header"/>
<link href="__PUBLIC__/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<style>
    .panel-heading{
        height: 36px;
        margin: 0;
        padding: 0;
    }
    #home-sell{
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        line-height: 36px;
        width: 110px;
        text-align: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        background: #367fa9;
    }

    #home-buy{
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        line-height: 36px;
        width: 110px;
        text-align: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        color: inherit;
        background: transparent;
    }
    .form-group{
        float: left;
    }
    #tab .tabCon .ssk {
    font-family: 微软雅黑, 黑体;
    width: 425px;
    height: 35px;
    text-indent: 1em;
    float: left;
    font-size: 14px;
    color: rgb(102, 102, 102);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: none;
    background: none;
}
.tab-search-box li{
    list-style: none;
}
input{
    padding: 0 5px;
}
</style>
<form action="" method="post" >
<div class="wrapper">
    <!-- Content Header (Page header) -->
    <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="" id="home-buy"><i class="fa fa-list"></i>采购单</a>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                        <div style="margin: 2px 0;" class="form-group" style="float: left;">
                            <label class="control-label" for="input-order-id">采购联系人</label>
                            <div class="input-group">
                                <input type="text" name="tab2[person]" placeholder="必填" class="input-sm" style="width:100px;" required autocomplete="off" />
                            </div>
                        </div>
                        <div style="margin: 2px 0;" class="form-group">
                            <label class="control-label" for="input-order-id">联系电话</label>
                            <div class="input-group">
                                <input type="text" id="phone" onblur="checkPhone()" name="tab2[phone]" placeholder="联系电话 必填" class="input-sm" style="width:100px;" required autocomplete="off" />
                            </div>
                        </div>
                        <div style="margin: 2px 0;" class="form-group">
                            <label class="control-label" for="input-order-id">QQ</label>
                            <div class="input-group">
                                <input type="text" name="tab2[qq]" id="qq" onblur="checkQQ()" placeholder="QQ" class="input-sm" style="width:100px;" autocomplete="off" />
                            </div>
                        </div>
                        <div style="margin: 2px 0;" class="form-group">
                            <label class="control-label" for="input-order-id">邮箱</label>
                            <div class="input-group">
                                <input type="email" name="tab2[email]" onblur="checkEmail()" placeholder="邮箱" class="input-sm" style="width:100px;" autocomplete="off" />
                            </div>
                        </div>
                        <div style="margin: 2px 0;" class="form-group">
                            <label class="control-label" for="input-date-added">采购日期</label>
                            <div class="input-group">
                                <input type="date" name="tab2[addtime]" placeholder="下单日期" class="input-sm" autocomplete="off" />
                             </div>
                        </div>
                        <!-- <div style="margin: 2px 0;" class="form-group">
                            <label class="control-label" for="input-date-added">供货商</label>
                            <div class="input-group">
                                <div class="cur">
    					           <form id="sourch_form_com" method="get" action="/index/searchstreet.html">
        					            <input type="text" store='' data-role="input-search" name="tab2[supplier]" autocomplete="off" class="ssk" id="q_com" placeholder="搜索公司关键字 可不填"  onfocus="getdata2(this);" oninput="getdata2(this)" />
                                        <p id="demoo"></p>
        					            <input type="hidden" name="__hash__" value="27159e041a99d5464cc8d02536c9b8a8_b5e30518865c4fa0f50519a7d0ce3584" />
                                    </form>
                                    <ul class="tab-search-box" onfocus="$('.tab-search-box').show();">
    					        </div>
                             </div>
                        </div> -->
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" style="font-size:12px;">
                            <thead>
                                <tr>
                                    <td class="text-center">物品名称</td>
                                    <td class="text-center">规格型号</td>
                                    <td class="text-center">数量</td>
                                    <td class="text-center">单位</td>
                                    <td class="text-center">单价</td>
                                    <td class="text-center">金额</td>
                                    <td class="text-center">备注</td>
                                    <td class="text-center">商品分类</td>
                                    <td class="text-center">操作</td>
                                </tr>
                            </thead>

                            <tbody id="tbody">
                                <tr>
                                    <td><input name='tab1[gname][]' type="text" required placeholder="必填" autocomplete="off" /></td>
                                    <td><input name='tab1[model][]' type="text" autocomplete="off" /></td>
                                    <td><input id="num0" name='tab1[num][]'  type="number" autocomplete="off" onchange="total(0)" /></td>
                                    <td><input name='tab1[unit][]' type="text" autocomplete="off" /></td>
                                    <td><input id="price0" name='tab1[price][]' type="number" autocomplete="off" onchange="total(0)" /></td>
                                    <td><input id="money0" name='tab1[money][]' type="number" readonly autocomplete="off" /></td>
                                    <td><input name='tab1[remark][]' type="text" autocomplete="off" /></td>
                                    <td>
                                        <select required onchange="class1(this);" class="class1" data-level="2">
                                            <option>请选择</option>
                                            <foreach  name="class1" item="vo">
                                                <option value="{$vo.id}">{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <select required onchange="class2(this);" class="class2" data-level="3">
                                            <option>请选择</option>
                                        </select>
                                        <select required class="class3" name="tab1[type][]">
                                            <option>请选择</option>
                                        </select>
                                    </td>
                                    <td><button class='del' type='button'>删除</button></td>
                                </tr>
                            </tbody>
                            <tr>
                                <td colspan="11" align="left">
                                    <input type="button" class="btn btn-primary" value="+添加" id="presales_btn">
                                </td>
                            </tr>
                        </div>
                        <tr>
                            <td>
                                <input type="hidden" name="img[purpic]" id="purpic" value="">
                                <div  id="imga" ></div>
                            </td>
                            <td colspan="6" id="td">
                                <input type="button" class="button" onClick="GetUploadify(10,'purpic','seller','callback1')"  value="上传采购单" style="float:left;margin-left: 20px;margin-top: 30px;background:#f22e00;height:30px;line-height: 30px;width:80px;color:#fff;background:#f22e00;border:1px solid #f00;border-radius: 2px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="img[purcontract]" id="purcontract" value="">
                                <div  id="imgb" ></div>
                            </td>
                            <td colspan="6">
                                <input type="button" class="button" onClick="GetUploadify(10,'purcontract','seller','callback2')"  value="上传采购合同" style="float:left;margin-left: 20px;margin-top: 30px;background:#f22e00;height:30px;line-height: 30px;width:80px;color:#fff;background:#f22e00;border:1px solid #f00;border-radius: 2px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="hidden" name="img[purelse]" id="purelse" value="">
                                <div  id="imgc" ></div>
                            </td>
                            <td colspan="6">
                                <input type="button" class="button" onClick="GetUploadify(10,'purelse','seller','callback3')"  value="上传附件" style="float:left;margin-left: 20px;margin-top: 30px;background:#f22e00;height:30px;line-height: 30px;width:80px;color:#fff;background:#f22e00;border:1px solid #f00;border-radius: 2px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="11" align="center">
                                <button id="submitBtn" type="submit">提交</button>
                            </td>
                        </tr>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">{$page}</div>
                    </div>
                </div>
            </div>
        </div>        <!-- /.row -->
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
</form>

<!-- 三级联动 start -->
<script type="text/javascript">



function class1(obj){
     var val1 = $(obj).parent().find('select').eq(0);
     var val2 = $(obj).parent().find('select').eq(1);
        getVal(val1, val2);
}

function class2(obj){
    var val2 = $(obj).parent().find('select').eq(1);
    var val3 = $(obj).parent().find('select').eq(2);
        getVal(val2, val3);
}

function getVal(id1, id2) {
    $(id2).html('');
    var id = $(id1).val();
    $.post(
        '__CONTROLLER__/getData',
        {'id':id, 'level':$(id1).attr('data-level')},
        function (data) {
            var str = '<option>--请选择--</option>';
            for (var i = 0; i < data.length; i++) {
                str += "<option value='" + data[i]['id']+ "'>" + data[i]['name'] + "</option>";
            }
            $(id2).append(str);
        },
        'json'
    );
}
</script>
<!-- 三级联动 end -->

<script>
    // 计算金额
    function total(i) {

       var total = parseInt($('#num'+i).val()) * parseInt($('#price'+i).val());
       $('#money'+i).val(parseInt(total));
    }

    function callback1(img_str){
        $('#purpic').val(img_str);
        var img = '';
        jQuery.each(img_str,function(key,val){
             img += "<img src='"+val+"' id='img"+key+"' style='height:100px;margin-left:5px;'  /><span id='span"+key+"' onclick=deleimg('"+val+"','"+key+"','#purpic') >删除</span>";
        })
        $('#imga').append(img);
    }

    function callback2(img_str){
        $('#purcontract').val(img_str);
        var img = '';
        jQuery.each(img_str,function(key,val){
             img += "<img src='"+val+"' id='img"+key+"' style='height:100px;margin-left:5px;'  /><span id='span"+key+"' onclick=deleimg('"+val+"','"+key+"','#purcontract') >删除</span>";
        })
        $('#imgb').append(img);
    }

    function callback3(img_str){
        $('#purelse').val(img_str);
        var img = '';
        jQuery.each(img_str,function(key,val){
             img += "<img src='"+val+"' id='img"+key+"' style='height:100px;margin-left:5px;'  /><span id='span"+key+"' onclick=deleimg('"+val+"','"+key+"','#purelse') >删除</span>";
        })
        $('#imgc').append(img);
    }

    // 删除已添加图片
    function deleimg(img,key,tip)
    {
        var str = $(tip).val();
        str2 = str.replace(img+',','');
        str3 = str2.replace(img,'');
        $(tip).val(str3);
        $('#img'+key).remove();
        $('#span'+key).remove();
    }


    // 点击追加一行表单
    $('#presales_btn').click(function () {

        var i = $('#tbody tr').length + 1;
        // 定义一行表单
        var str = "<tr><td><input name='tab1[gname][]' type='text' /></td><td><input name='tab1[model][]' type='text' /></td><td><input name='tab1[num][]' onchange='total("+i+")' id='num"+i+"' type='number' /></td><td><input name='tab1[unit][]' type='text' /></td><td><input name='tab1[price][]' id='price"+i+"' type='number' onchange='total("+i+")'/></td><td><input name='tab1[money][]' id='money"+i+"' type='number' readonly /></td><td><input name='tab1[remark][]' type='text' /></td><td><select required onchange='class1(this);' class='class1' data-level='2'><option>请选择</option><foreach name='class1' item='vo'><option value='{$vo.id}'>{$vo.name}</option></foreach></select><select required onchange='class2(this);' class='class2' data-level='3'><option>请选择</option></select><select required class='class3' name='tab1[type][]'><option>请选择</option></select></td><td><button class='del' type='button'>删除</button></td></tr>";
        $('#tbody').append(str);
    });



    // 点击删除该行表单
    $(document).on('click', '.del', function () {
        $(this).parent().parent().remove();
    });

    // 验证手机号
    function checkPhone(){
        var phone = document.getElementById('phone').value;
        if(!(/^1[34578]\d{9}$/.test(phone))){
            alert("手机号码有误，请重填");
            return false;
        }
    }

    // 验证邮箱
    function checkEmail(){
        var email = document.getElementById('email').value;
        if(!(/^(\w)+(\.\w+)*@(\w)+((\.\w+)+)$/.test(email))){
            alert("您输入的邮箱有误,请重新核对后再输入!");
            return false;
        }
    }

    // 验证QQ
    function checkQQ(){
        var qq = document.getElementById('qq').value;
        if(!(/^\d{5,10}$/.test(qq))){
            alert("您输入的QQ有误,请重新核对后再输入!");
            return false;
        }
    }

    function getdata2(obj){

        var val = $(obj).val();
        if(!val){return;}
        var str ='';
        $.getJSON("/Purchase/ajaxdata" ,{'val': val} ,function(data){

        $.each(data, function(k,v){
            str += "<li><a class='companyRes'>"+v+"</a></li>";
            $('.ssk').append(str);
        });
            $('.tab-search-box').html(str);
            var len=$('.tab-search-box li').length;
            if (len>9) {
                for (var i = len; i > 9; i--) {
                    $('.tab-search-box li').eq(i).remove();
                }
            }
        });
    }

    $(document).on('click', '.companyRes', function () {
        $('#q_com').val($(this).html());
        $('#q_com').val($(this).html());
    });



    $('#tab .tabCon .ssk').keyup(function(event){

    	if(event.keyCode == 40){
    		var obj = $('.tab-search-box .xuanzhong');
    		if($(obj).text()){
    			$(obj).removeClass('xuanzhong');
    			$(obj).next().addClass('xuanzhong');
    			var text = $('.tab-search-box .xuanzhong').text();
    			if(!text){
    				$('.tab-search-box li').eq(0).addClass('xuanzhong');
    				var text = $('.tab-search-box .xuanzhong').text();

    			}
    		}else{

    			$('.tab-search-box li').eq(0).addClass('xuanzhong');
    			var text = $('.tab-search-box .xuanzhong').text();

    		}
    	$('input[name=company]').val(text);
    	$('input[name=q]').val(text);

    	}else if(event.keyCode == 38){
    		var l = $('.tab-search-box li').length;
    		var obj = $('.tab-search-box .xuanzhong');
    		if($(obj).text()){
    			$(obj).removeClass('xuanzhong');
    			$(obj).prev().addClass('xuanzhong');
    			var text = $('.tab-search-box .xuanzhong').text();
    			if(!text){

    				$('.tab-search-box li').eq(l-1).addClass('xuanzhong');
    				var text = $('.tab-search-box .xuanzhong').text();

    			}
    		}else{

    			$('.tab-search-box li').eq(l-1).addClass('xuanzhong');
    			var text = $('.tab-search-box .xuanzhong').text();
    		}
    	$('input[name=company]').val(text);
    	$('input[name=q]').val(text);

    	}
    });

</script>
</body>
</html>
