<ul class="nav nav-tabs">
  <volist name="specList" id="list">
	  <li class="active"><a data-toggle="tab" href="javascript:void(0);" onclick="ajax_get_data({$list[id]});">{$list.name}</a></li>
  </volist>    
</ul>          
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="spec_item_table">
            <thead>
            <tr>
                <th class="sorting text-left">规格名称</th>
                <th class="sorting text-left">规格项</th>
                <th class="sorting text-left">操作</th> 
            </tr>
            </thead>
            <tbody>
            <volist name="specItemList" id="list2">
                <tr>
                    <td class="text-left">{$specList[$list2[spec_id]][name]}</td>
                    <td class="text-right">                         
                        <input type="text" class="form-control input-sm"  value="{$list2.item}" name="item[{$list2.id}]" style="width:300px;"/>
                        <span style="color:#F00; display:none;">请填写内容</span>
                    </td>
                    <td class="text-right">
                        <a href="javascript:void(0);"  class="btn btn-danger delItem" data-spec_item_id="{$list2.id}"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
		<div class="pull-right">
             <input type="hidden" name="spec_id" value="{$spec_id}" />
             <button data-original-title="保存" type="submit"  class="btn btn-primary">提交保存规格值</button>
        </div>        
    </div>