@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td a{ margin:0; padding:0; border:0; font-weight:normal;}
fieldset,img {border:0; list-style:none;} 
label,input,img{vertical-align:middle}
ol,ul, li{list-style: none;}
*{margin:0;padding:0;font-family:"微软雅黑", "黑体";}
a{color:#000;} 
a:link,a:visited{text-decoration:none;}
img{border:0;}
.cl{clear:both;}
a, a:visited {text-decoration: none; cursor: pointer;}
a {blr:expression(this.onFocus=this.blur()) } /*针对 IE*/
a { outline:none; } /*针对firefox等*/
body {font-size: 14px;font-family: "微软雅黑";}
ul,li,ol{list-style: none; text-decoration: none;}
form,dl,dt{margin:0; padding:0; }
a, a:visited {text-decoration: none; cursor: pointer;}
.inputarea {background-color:#ffffff}

/*index*/
.warp{ width:100%; height:auto;  margin:0 auto;}
.head{ width:100%; height:30px; background:#008BB9;color:#fff;}
.head .nav{ height:30px; width:800px; float:right;}
.head .nav ul{ width:500px; float:right;}
.head .nav li{ height:30px; font-size:12px; line-height:30px; float:left; padding:0 10px; color:#FFF;} 
.head .nav li a{ color:#fff;}
.head .nav img{ float:left;}
.head .nav span{ float:left; line-height:30px;}
.head .left{ float:left; width:600px; text-align:right; line-height:30px;}
.main{ width:950px; margin:0 auto;}
.logo{ width:500px; margin:150px auto 0; font-size:14px;text-align:center;color:#333333; margin:20px auto 15px;}
.search{ width:700px; margin:0 auto 100px;} 
.search1{ width:640px; float:right;} 
#tab {position: relative; width:640px; height:90px; margin:0 auto; }
#tab .tabList ul li {float: left; background: #fff; line-height:40px; width:80px;text-align: center;height:40px;cursor: pointer;}
#tab .tabCon {position: absolute; top: 40px;border: 1px solid #008cba;width: 638px ;height: 45px;}
#tab .tabCon div {position: absolute;}
#tab .tabList li.cur {border-bottom: none; background: #008cba; color:#FFF;}
#tab .tabCon div.cur {opacity: 1;filter: alpha(opacity=100);}
#tab .tabCon .ssk{ width:528px; height:45px; border:0; outline: none; background:none; text-indent:1em; float:left; font-size:14PX; color:#666}
#tab .tabCon .ssk2{ width:528px; height:45px; border:0; outline: none; background:none; display:none;text-indent:1em; float:left; font-size:14PX; color:#666}
#tab .tabCon .but{ width:110px; height:45px;border:0; outline: none; background:none; cursor:pointer; float:left; background: #008cba url(../images/but.jpg) center no-repeat;}
#tab .tabCon dl dd{ padding:5PX 10px; height:30px; float:left;}
#tab .tabCon a{ color:#666;}
.side{ width:1198px; border:1px solid #cfcfcf; height:716px; margin:0 auto;}
.side1{ width:1140px; margin:0 auto; padding-top:10px;}
.side1 .left{ width:754px; float:left;}
.side1 .left dt{ width:754px; height:50px; line-height:50px; font-size:18px;}
.side1 .left dd{ margin:0 13px 13px 0;float:left;}
.side1 .left dd img{border: 1px solid #cfcfcf;}
dd:hover .x{ width:186px; height:310px; background:#FFF; opacity:0.3;}
.side1 .left dd p{ height:18px;}
.side1 .right{ width:360px; float:right;}
.side1 .title{ width:360px; height:50px; line-height:50px; font-size:18px;}
.side1 .right li{ width:360px; height:310px; margin-bottom:15px; background:#f2f3f3;}
.side1 .right li .a1{ color:#008cba; font-size:18px; line-height:30px; padding-left:10px;}
.side1 .right li .a2{ color:#999999; font-size:12px;padding-left:10px;}
.side1 .right li time{ float:right; color:#999; font-size:10px; line-height:20px; padding-right:5px;}
footer{ margin:50px auto; font-size:14px; line-height:30px; text-align:center;}
/*index*/




/*login*/
.head .login{ width:60%; margin:0 auto; height:30px; line-height:30px;}
.head .login li{ height:30px; font-size:12px; line-height:30px; float:left; padding:0 10px; color:#FFF;} 
.head .login li a{ color:#fff;}
.head .login span{ float:left;}
.de{ width:330px; margin:50px auto;}
.deng{ margin-top: -10px;width:330px; height:50px; background:url(../images/login.jpg) no-repeat 20px center; border:1px solid #CCC; text-indent:4em; outline:none;}
.de input:focus{border:1px solid #008cba;}
.de .code{ margin-top: -10px;width:330px; height:50px; background:url(../images/code.png) no-repeat 20px center; border:1px solid #CCC; text-indent:4em; outline:none;}
.de .deng1{ margin-top: -10px;width:330px; height:50px; background:url(../images/login2.jpg) no-repeat 20px center; border:1px solid #CCC; text-indent:4em; outline:none;}
.de .deng2{ margin-top: -10px;width:330px; height:50px; background:url(../images/login3.jpg) no-repeat 20px center; border:1px solid #CCC; text-indent:4em; outline:none;}
.de .an{ width:50px; height:50px; background:#333; border:0; outline:none; cursor:pointer; position:absolute; left:60.4%; top:76.7%;}
.de .cheak{ background:none; outline:none;}
.de .but{ width:330px; height:40px; text-align:center; cursor:pointer; color:#FFF; line-height:40px; border:0; outline:0; background:#008cba}
.de .left{ width:100px; height:9px; border-bottom:1px solid #CCC; float:left;}
.de .mid{ width:130px; height:20px; line-height:20px; text-align:center; float:left;}
/*login*/


/*pro开始*/
.prol{ width:1200px; height:90px; margin:20px auto;}
.prol figure{ width:200px; height:70px; margin:10px 0; float:left;}
.pro{ width:100%; height:44px; border-bottom:1px solid #008BB9}
.pro .nav{ width:1200px; margin:0 auto; height:44px; z-index:999; position:relative;}
.pro .nav ul li{ width:125px; height:44px; float:left; font-family:"黑体"; text-align:center; line-height:44px; font-size:16px;}
.pro .nav .yi{ width:200px; border-radius:7px 7px 0 0; background:url(../images/pro_icon_0.jpg) no-repeat 30px 15px #008cba; height:44px; }
.pro .nav .yi a{ color:#FFF;}
/*第一级弹出*/
.pro .nav .yi .dyj{ width:200px; height:460px; display:none;}
.pro .nav .yi .dyj .one{width:200px; height:30px; color:#FFF;text-align:left; text-indent:2.5em;background:#008cba url(../images/pro_icon_1.jpg) no-repeat 10px 7px; line-height:30px; font-size:14px;}
.pro .nav .yi .dyj .one a{ color:#FFF; padding:0 5px;}
.pro .nav .yi .dyj #one2{background:#008cba url(../images/pro_icon_2.jpg) no-repeat 10px 7px; }
.pro .nav .yi .dyj #one3{background:#008cba url(../images/pro_icon_3.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one4{background:#008cba url(../images/pro_icon_4.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one5{background:#008cba url(../images/pro_icon_5.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one6{background:#008cba url(../images/pro_icon_6.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one7{background:#008cba url(../images/pro_icon_7.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one8{background:#008cba url(../images/pro_icon_8.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one9{background:#008cba url(../images/pro_icon_9.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one10{background:#008cba url(../images/pro_icon_10.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one11{background:#008cba url(../images/pro_icon_11.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one12{background:#008cba url(../images/pro_icon_12.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one13{background:#008cba url(../images/pro_icon_13.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one14{background:#008cba url(../images/pro_icon_14.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj #one15{background:#008cba url(../images/pro_icon_15.jpg) no-repeat 10px 5px; }
.pro .nav .yi .dyj .one:hover{ background:#f2f3f3 url(../images/pro_nav_1.jpg) no-repeat 10px 7px; color:#008cba}
.pro .nav .yi .dyj .one:hover a{ color:#008cba;}
.pro .nav .yi .dyj #one2:hover{ background:#f2f3f3 url(../images/pro_nav_2.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one3:hover{ background:#f2f3f3 url(../images/pro_nav_3.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one4:hover{ background:#f2f3f3 url(../images/pro_nav_4.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one5:hover{ background:#f2f3f3 url(../images/pro_nav_5.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one6:hover{ background:#f2f3f3 url(../images/pro_nav_6.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one7:hover{ background:#f2f3f3 url(../images/pro_nav_7.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one8:hover{ background:#f2f3f3 url(../images/pro_nav_8.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one9:hover{ background:#f2f3f3 url(../images/pro_nav_9.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one10:hover{ background:#f2f3f3 url(../images/pro_nav_10.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one11:hover{ background:#f2f3f3 url(../images/pro_nav_11.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one12:hover{ background:#f2f3f3 url(../images/pro_nav_12.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one13:hover{ background:#f2f3f3 url(../images/pro_nav_13.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one14:hover{ background:#f2f3f3 url(../images/pro_nav_14.jpg) no-repeat 10px 7px;}
.pro .nav .yi .dyj #one15:hover{ background:#f2f3f3 url(../images/pro_nav_15.jpg) no-repeat 10px 7px;}
/*第一级弹出结束*/
/*第二级弹出*/
.pro .nav .yi:hover .dyj{ display:block;}
.pro .nav .yi .dyj .one section{ width:370px; height:449px; background:#E3EBEE; margin-left:200px; margin-top:-30px; display:none}
.pro .nav .yi .dyj .one section dl{ width:350px; margin:0 auto;text-indent:0; }
.pro .nav .yi .dyj .one section dl dt{ width:350px; text-align:left; font-size:14px; border-bottom:1px solid #008cba; height:40px; line-height:40px; }
.pro .nav .yi .dyj .one section dl dt a{ color:#008cba}
.pro .nav .yi .dyj .one section dl dd a{ padding-right:10px; line-height:20px;font-size:12px; color:#333333;}
.pro .nav .yi .dyj .one:hover section{ display:block}
/*第二级弹出结束*/
.prod{ width:1200px; margin:0 auto;}
.prod h6{ height:50px; letter-spacing:0.05em; line-height:50px; font-size:12px;}
.prod h6 span{ color:#008BB9;}
.group{width:1200px;border:1px solid #cfcfcf;min-height:300px;margin:0 auto; overflow: hidden;}
.row{position:relative;margin-top: -1px;border-top:1px dashed #cfcfcf;min-height:50px;width:100%;}
.row-first{border-top:none;}
.head1{position:absolute;left:8px;color:#999;width:80px; overflow:hidden; min-height:100%; background:url(../images/head-1.jpg) repeat-y right center;}
.head1 h5{font-weight:400; line-height: 40px;}
.head1 a{color:#000;}
.body{padding:0 100px 0 112px;}
.items{overflow:auto;max-height:90px;}
.item{float:left;margin:9px 40px 9px 0;}
.items a:hover{color:#F94700;}
.bginput{width:15px;height:20px;display:inline-block;display:none;float:left;margin-right:5px;}
.text{float:left;}
.bginput1{width:15px;height:20px;display:inline-block;display:none;float:left;margin-right:5px;}
.text{float:left;}
.bginput2{width:15px;height:20px;display:inline-block;display:none;float:left;margin-right:5px;}
.text{float:left;}
.bginput3{width:15px;height:20px;display:inline-block;display:none;float:left;margin-right:5px;}
.text{float:left;}
.bginput4{width:15px;height:20px;display:inline-block;display:none;float:left;margin-right:5px;}
.text{float:left;}
.btns{height:30px;width:100%;text-align:center;line-height:30px;margin-bottom:2px;display:none;}
.btns1{height:30px;width:100%;text-align:center;line-height:30px;margin-bottom:2px;display:none;}
.btns2{height:30px;width:100%;text-align:center;line-height:30px;margin-bottom:2px;display:none;}
.btns3{height:30px;width:100%;text-align:center;line-height:30px;margin-bottom:2px;display:none;}
.btns4{height:30px;width:100%;text-align:center;line-height:30px;margin-bottom:2px;display:none;}
.submit{display:inline-block;width:50px;height:28px;background:#F94700;border:1px solid #F94700;color:#fff;border-radius:3px;cursor:pointer;}
.cancel{display:inline-block;width:50px;height:28px;border:1px solid #ccc;border-radius:3px;cursor:pointer;}
.cancel:hover{border:1px solid #F94700;color:#F94700;}
.submit1{display:inline-block;width:50px;height:28px;background:#F94700;border:1px solid #F94700;color:#fff;border-radius:3px;cursor:pointer;}
.cancel1{display:inline-block;width:50px;height:28px;border:1px solid #ccc;border-radius:3px;cursor:pointer;}
.cancel1:hover{border:1px solid #F94700;color:#F94700;}
.submit2{display:inline-block;width:50px;height:28px;background:#F94700;border:1px solid #F94700;color:#fff;border-radius:3px;cursor:pointer;}
.cancel2{display:inline-block;width:50px;height:28px;border:1px solid #ccc;border-radius:3px;cursor:pointer;}
.cancel2:hover{border:1px solid #F94700;color:#F94700;}
.submit3{display:inline-block;width:50px;height:28px;background:#F94700;border:1px solid #F94700;color:#fff;border-radius:3px;cursor:pointer;}
.cancel3{display:inline-block;width:50px;height:28px;border:1px solid #ccc;border-radius:3px;cursor:pointer;}
.cancel3:hover{border:1px solid #F94700;color:#F94700;}
.submit4{display:inline-block;width:50px;height:28px;background:#F94700;border:1px solid #F94700;color:#fff;border-radius:3px;cursor:pointer;}
.cancel4{display:inline-block;width:50px;height:28px;border:1px solid #ccc;border-radius:3px;cursor:pointer;}
.cancel4:hover{border:1px solid #F94700;color:#F94700;}
.foot{position:absolute;right:20px;top:8px; cursor:pointer;}
.mollch{display:inline-block;height:20px;text-align:center;}
.mollch1{display:inline-block;height:20px;text-align:center;}
.mollch2{display:inline-block;height:20px;text-align:center;}
.mollch3{display:inline-block;height:20px;text-align:center;}
.mollch4{display:inline-block;height:20px;text-align:center;}
.moll{position:absolute;transform: rotate(0deg);}
.foot a:hover{color:#f00;}
.select{margin-top:15px;margin-left:10px;}
.select select{margin-left:20px;}
.back{display:blcok;margin-left:30px;width:30px;height:30px;display:none;cursor:pointer;}
.back1{display:blcok;margin-left:30px;width:30px;height:30px;display:none;cursor:pointer;}
.back2{display:blcok;margin-left:30px;width:30px;height:30px;display:none;cursor:pointer;}
.back3{display:blcok;margin-left:30px;width:30px;height:30px;display:none;cursor:pointer;}
.back4{display:blcok;margin-left:30px;width:30px;height:30px;display:none;cursor:pointer;}

/*多选结束*/
.product{ width:1200px; margin:15px auto;}
.product .left{ width:960px; float:left; margin-top:20px;}
.product .left ul li{ width:218px; height:370px; float:left; margin:0 20px 20px 0; border:1px solid #cfcfcf; overflow:hidden;}
.product .left ul li:hover{ border:1px solid #008cba; }
.product .left figure{ width:220px; height:220px;}
.product .left ul li .one{ width:200px; height:35px; line-height:35px; margin:0 auto;}
.product .left ul li .one p{ font-size:14px; color:#ff9416; float:left; line-height:35px;}
.product .left ul li .one span{ font-size:12px; float:right; color:#cfcfcf; padding:0 7px;}
.product .left ul li .one span img{ margin-top:-4px;}
.product .left ul li h1{ line-height:18px; font-size:12px; color:#333; width:200px; margin:0 auto; }
.product .left ul li h1 a{color:#333;}
.product .left ul li h1 a:hover{ text-decoration:underline;}
.product .left ul li .two{ width:200px; height:35px; margin:0 auto; }
.product .left ul li .two h2{ font-size:12px; color:#999; float:left; line-height:30px;}
.product .left ul li .two img{ margin:0 4px;}
.product .left ul li .two span{float:right; color:#999; line-height:30px; font-size:10px;}
.product .left ul li .thr{ width:220px; height:40px; line-height:40px; border-top:1px solid #cfcfcf;}
.product .left ul li .thr span{ padding:0 15px; color:#999; float: left; font-size:12px;}
.product .left ul li .thr figure{ float:right; width:auto;} 
.product .left ul li .thr figure img{ margin:0 4px;}
.product .right{ width:240px; float:right;}
.product .right h1{ font-size:14px; color:#333; line-height:20px; float: left;}
.product .right span{ float:right; font-size:12px; line-height:20px;}
.product .right span a{ color:#666;}
.product .right .one{ width:238px; height:840px; margin-bottom:10px; border:1px solid #cfcfcf;}
.product .right .one dl{ width:218px; height:55px; margin-bottom:10px; color:#666;background:#f2f3f3; padding:10px;} 
.product .right .one dt{ font-size:12px;}
.product .right .one dl a{ color:#666;} 
.product .right .one dd{ font-size:10px; line-height:23px;}
.product .right .two{ width:238px;}
.product .right .two li{ width:238px; border:1px solid #cfcfcf; height:218px; margin-bottom:15px;}
.product .right .two li:hover{ border:1px solid #008cba; }
.product .right .thr{ width:238px; height:400px;}
.product .right .thr dl{ width:72px; overflow:hidden; height:90px; margin:0 10px 10px 0;  float:left;}
.product .right .thr dt a{ color:#3446d4; text-decoration: underline; height:24px; line-height:24px; font-size:10px;}
.product .right .four li{ padding-right:15px; float:left;}
.product .right .four li a{ color:#3446d4; text-decoration: underline; font-size:12px; line-height:26px;}
.product p{ text-align:center; line-height:70px;}
.footer{ width:100%; height:430px; background:#f3f3f3; margin:0; padding-top:50px;}
.footer .pr{ width:1200px; height:200px; margin:0 auto; border-bottom:1px solid #c7c7c7;}
.footer dl{     width: 150px; height:200px; float:left;}
.footer dl dt{ height:60px; font-size:15px; line-height:60px;}
.footer dl dd{ line-height:25px;}
.footer dl dd a{ color:#757575;}
.footer .pr .right{ float:right; height:120px; width:259px;text-align:center;  margin-top:35px; border-left:1px solid #c7c7c7;}
.footer .pr .right h1{ font-size:20px; text-align:center; color:#008cba;}
.footer .pr .right p{ line-height:40px; font-size:12px; color:#757575;}
.footer .pr .right .kf{ width:120px; height:30px; border:1px solid #008cba; color:#008cba; line-height:30px; font-size:12px; margin:0 auto; border-radius:5px;}
.footer h6{ width:1200px; line-height:45px; margin:0 auto; text-align:left; font-size:12px;}
.footer h6 a{ color:#757575;}

/*pro结束*/


/*detail page开始*/
.page_logo{ width:1200px; margin:0 auto; height:110px;}
.page_logo .left{}

/*搜索框下*/
.Compre{border:1px solid #cfcfcf;width:100%;height:40px;margin-top:30px;position:relative;}
.Compre >dl{display:inline-block;float:left;}
.Compre >dl dt{float:left;padding:10px;}
.Compre >dl dt span{padding:10px;}
.Compre .Compre_i input{width:40px;text-align: center;}
.Compre button{width:50px;margin-left:2px;}
.Compre .Compre_u{position:absolute;top:9px;left:450px;}
.Compre .Compre_u li{float:left;width:90px;height:20px;text-align:center;line-height:20px;border:1px solid #cfcfcf;}
.Compre div{display:inline-block;}
.Compre	.Compre_d{margin-left:340px;margin-top:10px;}
.Compre	.Compre_d h4{width:73px;height:40px;cursor:pointer;}
.Compre .Compre_m{margin-left:30px;}
.Compre	.Compre_T{position:absolute;width:420px;height:400px;top:40px; display:none; background:#fff;z-index: 99;overflow: hidden;border:1px solid #ccc;box-shadow:1px 1px 1px #ccc;}
.Compre	.Compre_T  .Compre_Td{width:100%;min-height: 20px;}
.Compre	.Compre_T .Compre_Td ul li{float:left;padding-left:25px;padding-top:3px;}
.Compre	.Compre_T .guess{padding-left:25px;}
.Compre	.Compre_T .deline{border-bottom: 1px dashed #e0e0e0;width:95%;margin-left:10px;}
.Compre	.Compre_T .Compre_Ts{margin-top:20px;margin-left:28px;}
.Compre	.Compre_T a:hover{color:#f00;text-decoration: underline;}
.Compre	.Compre_d h4:hover .Compre_T{display:block;}


/**
*	TP分页样式
*/
.page{display: table;margin: 10px auto;}
.page .first,.prev,.num,.current,.next,.end{width: 50px;height: 50px;display: block;float: left;line-height: 50px;margin-left: -1px;text-align: center;border: 1px solid #008CC1;}
.page .first:hover,.prev:hover,.num:hover,.current:hover,.next:hover,.end:hover{color: #fff;background-color: #008CC1;}
.page .current{background-color: #008cc1;color:#fff;}













