
/*index*/
.warp{ width:100%; height:auto;  margin:0 auto;}
.head .nav a:hover{text-decoration: underline;}
.head{    min-width: 1200px; width:100%; height:30px; background:#f92246;color:#fff;font: 12px/1.5 simsun,tahoma,arial,sans-serif;}
.head .nav{ height:30px; width:1200px;margin: 0 auto; font-family: "微软雅黑", "黑体";}
.head .nav ul{overflow: hidden;float: left;}
.head .nav ul+p{float: left;line-height: 30px;margin-left: 20px;}
.head .nav ul+p+ul{float: right;}
.head .nav li{ height:30px; font-size:12px; line-height:30px; float:left; padding:0 10px; color:#FFF;} 
.head .nav li a{ color:#fff;}
.head .nav img{ float:left;}
.head .nav span{ float:left; line-height:30px;}
.head .left{ float:left; width:600px; text-align:right; line-height:30px;}
.main{ width:950px; margin:0 auto;}
.logo{ width:500px; margin:150px auto 0; font-size:14px;text-align:center;color:#333333; margin:80px auto 15px;}
.login{width:200px;height:40px; float:left; margin-top:30px;}
.login ul li{float:left;width:60px;height:30px;cursor:pointer; border:1px solid #c9c9c9;margin-left:5px;text-align:center;line-height:30px;}


.search{ width:700px; margin:0 auto 100px;} 
.search1{ width:640px; float:right;} 
#tab {position: relative; width:640px; height:74px; margin:0 auto;}
#tab .tabList ul li {font-size: 16px;float: left; background: #fff; line-height:24px; width:80px;text-align: center;height:25px;cursor: pointer;}
#tab .tabCon {position: absolute; top: 24px;border: 1px solid #f92246;width: 535px ;height: 35px;background-color: #fff;}
#tab .tabCon div {position: absolute;}
#tab .tabList li.cur {border-bottom: none; background: #f92246 ; color:#FFF;}
#tab .tabCon div.cur {opacity: 1;filter: alpha(opacity=100);}
#tab .tabCon .ssk{font-family: "微软雅黑", "黑体"; width:425px; height:35px; border:0; outline: none; background:none; text-indent:1em; float:left; font-size:14PX; color:#666}
#tab .tabCon .ssk2{ width:528px; height:35px; border:0; outline: none; background:none; display:none;text-indent:1em; float:left; font-size:14PX; color:#666}
#tab .tabCon .but{ width:110px; height:35px;border:0; outline: none; cursor:pointer; float:left; color:#fff;font-size:16px;background: #f92246 url(../images/but.png) center no-repeat;}
.submitS{position:absolute;cursor:pointer; font-weight:400;outline:none;height:35px;width:80px;background:#fff;border:1px solid #008CBA;left:550px;color:#008CBA;font-size:16px;}


#tab .tabCon dl dd{ padding:5PX 10px; height:30px; float:left;}
#tab .tabCon a{ color:#666;}

/*index*/


/*pro开始*/
.prof{width:100%;background:#fff ;font-family: "微软雅黑", "黑体";min-width: 1200px;}
.prol{ width:1200px; height:74px; margin:0 auto;padding-top: 2px;}
.prol figure{ height:54px; margin:10px 0; float:left;}
.pro{ margin-top:10px ;width:100%; height:44px; border-bottom:1px solid #f92246;min-width: 1200px;}
.pro .nav{ width:1200px; margin:0 auto; height:44px; z-index:999; position:relative;}
.pro .nav a{text-decoration: none;}
.pro .nav ul li{ width:125px; height:44px; float:left; font-family: "微软雅黑", "黑体"; text-align:center; line-height:44px; font-size:16px;}
.pro .nav .yi{position: relative; border-radius:7px 7px 0 0;height:44px; background: url(../images/pro_icon_0.png) no-repeat 30px 18px #f92246;width: 250px;}
.pro .nav .yi a{ color:#333333;}
.pro .nav .yi >a{ color:#FFF !important;}
.pro .nav >ul> .myli >a:hover{color:#f92246 !important;}
.pro .nav-float{position: absolute;top: -12px;left:90px;color: #FFFFFF;line-height: 24px;}
.pro .nav-float p{background: red;padding: 0 6px;font-size: 12px;height: 18px;line-height: 18px;border-radius:2px; }
.pro .nav-float img{display: block;height: 8px;margin-top: -2px;}
.prof .prol .tab-search-box{display: none;position: absolute;top: 60px;width: 535px;border: 1px solid #f92246;z-index: 1000;background: #FFFFFF;}
.prof .prol .tab-search-box li a{color: #333333;font-size: 14px;line-height: 30px;padding: 0 10px;display: block;text-decoration: none;}	
.prof .prol .tab-search-box li a:hover{background: #EDEDED;color: #333333;}
/*第一级弹出*/    
.pro .nav .yi .dyj{ margin-top: 1px;width: 250px;height:460px;display:none; }
/*.pro .nav .yi .dyj .one{width:200px; height:30px; color:#FFF;text-align:left; text-indent:2.5em; line-height:30px; font-size:14px;}*/
.pro .nav .yi .dyj .one{ height:30px; background:#008CBA;text-align:left;line-height:30px; font-size:14px;background: #ffffff;opacity: 0.8;width: 250px;}
.pro .nav .yi .dyj .one:hover{ opacity: 1;background: #ffffff;}
.pro .nav .yi .dyj .one:hover > a{ color:#f92246;}
.pro .nav .yi .dyj .one i{width:20px;height:20px;display:inline-block;margin-right:5px;margin-left:5px;margin-top:5px;float:left;background-repeat:no-repeat;}
/*.pro .nav .yi .dyj .one i:{width:20px;height:20px;display:inline-block;margin-right:5px;margin-left:5px;margin-top:5px;float:left;background-repeat:no-repeat;background-position:-12px 2px;}*/

/*第一级弹出结束*/
/*第二级弹出*/
.pro .nav .yi:hover .dyj{ display:block;}
.pro .nav .yi .dyj .one section{ position: absolute;top: 45px; width:370px;display:none;margin-left: 250px;background: #FFFFFF;box-shadow: 0 2px 5px #CCC}
.pro .nav .yi .dyj .one section dl{ width:350px; margin:0 auto;text-indent:0; }
.pro .nav .yi .dyj .one section dl dt{ width:350px; text-align:left; font-size:14px; border-bottom:1px solid #f0f0f0; height:40px; line-height:40px; }
.pro .nav .yi .dyj .one section dl dt a{ color:#000000;}
.pro .nav .yi .dyj .one section dl dd a{ padding-right:10px; line-height:20px;font-size:12px; color:#333333;}
.pro .nav .yi .dyj .one section dl dd a:hover{color:#f92246;}
.pro .nav .yi .dyj .one:hover section{ display:block;}
/*第二级弹出结束*/

