<include file="Public/min-header" />
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加店铺等级</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Store/class_info_save')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">分类名称：</td>
                                    <td class="col-sm-4">
                                        <input type="text" class="form-control" id="sc_name" name="sc_name" value="{$info.sc_name}" >
                                        <span id="err_attr_name" style="color:#F00; display:none;"></span>                                        
                                    </td>
                                    <td class="col-sm-4">设置会员等级名称
                                    </td>
                                </tr>  
                                <tr>
                                    <td>保证金额度：</td>
                                    <td >
                         				<input type="text" class="form-control" placeholder="0" name="sc_bail" value="{$info.sc_bail}">
                                    </td>
                                    <td class="col-sm-4"></td>
                                </tr>
                                <tr>
                                    <td>排序：</td>
                                    <td >
                         				<input type="text" class="form-control" name="sc_sort" value="{$info.sc_sort}">
                                    </td>
                                    <td class="col-sm-4">数值越大表明级别越高</td>
                                </tr>                             
                                </tbody> 
                                <tfoot>
                                	<tr>
                                	<td>
                                		<input type="hidden" name="sc_id" value="{$info.sc_id}">
                                	</td>
                                	<td class="col-sm-4"></td>
                                	<td class="text-right"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	if($('#sc_name').val()==''){
		alert('分类名称不能为空');
		return false;
	}
	$('#handleposition').submit();
}
</script>
</body>
</html>