<include file="Public/min-header" />
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 添加店铺等级</h3>
                </div>
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Store/grade_info_save')}">                    
                        <!--通用信息-->
                    <div class="tab-content col-md-10">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2">等级名称：</td>
                                    <td class="col-sm-4">
                                        <input type="text" class="form-control" id="sg_name" name="sg_name" value="{$info.sg_name}" >
                                        <span id="err_attr_name" style="color:#F00; display:none;"></span>                                        
                                    </td>
                                    <td class="col-sm-4">设置店铺等级名称
                                    </td>
                                </tr>  
                                <tr>
                                    <td>可发布商品数：</td>
                                    <td >
                         				<input type="text" class="form-control" placeholder="0" name="sg_goods_limit" value="{$info.sg_goods_limit}">
                                    </td>
                                    <td class="col-sm-4">0表示没有限制</td>
                                </tr>
                                <tr>
                                    <td>可选模板套数：</td>
                                    <td>
                               			<input type="text" class="form-control"  placeholder="0" name="sg_template_limit" value="{$info.sg_template_limit}">     
                                    </td>
                                    <td class="col-sm-4">0表示没有限制</td>
                                </tr>  
                                <tr>
                                    <td>收费标准：</td>
                                    <td >
                         				<input type="text" class="form-control" name="sg_price" value="{$info.sg_price}">
                                    </td>
                                    <td class="col-sm-4">收费标准，单：元/年，必须为数字，在会员开通或升级店铺时将显示在前台</td>
                                </tr>
                                <tr>
                                    <td>申请说明：</td>
                                    <td>
                             			<textarea rows="5" cols="30" name="sg_description">{$info.sg_description}</textarea>
                                    </td>
                                    <td class="col-sm-4">申请说明，在会员开通或升级店铺时将显示在前台</td>
                                </tr> 
                                <tr>
                                    <td>级别：</td>
                                    <td >
                         				<input type="text" class="form-control" name="sg_sort" value="{$info.sg_sort}">
                                    </td>
                                    <td class="col-sm-4">数值越大表明级别越高</td>
                                </tr>                             
                                </tbody> 
                                <tfoot>
                                	<tr>
                                	<td>
                                		<input type="hidden" name="sg_id" value="{$info.sg_id}">
                                	</td>
                                	<td class="col-sm-4"></td>
                                	<td class="text-right"><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td></tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
function adsubmit(){
	if($('#sg_name').val()==''){
		alert('等级名称不能为空');
		return false;
	}
	$('#handleposition').submit();
}
</script>
</body>
</html>