<include file="Public/min-header"/>
<div class="wrapper">
 <include file="Public/breadcrumb"/>
 <style>#search-form > .form-group{margin-left: 10px;}</style>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> 商品列表</h3>
        </div>
        <div class="panel-body">
          <div class="navbar navbar-default">
              <form action="" id="search-form2" class="navbar-form form-inline" method="post" onsubmit="return false">
                <div class="form-group">
                  <select name="cat_id" id="cat_id" class="form-control">
                    <option value="">所有分类</option>
                    <foreach name="categoryList" item="v" key="k" >
                        <option value="{$v['id']}"> {$v['name']}</option>
			 		</foreach>
                  </select>
                </div>
                <div class="form-group">
                  <select name="brand_id" id="brand_id" class="form-control">
                    <option value="">所有品牌</option>
                        <foreach name="brandList" item="v" key="k" >
                           <option value="{$v['id']}">{$v['name']}</option>
			</foreach>
                  </select>
                </div>
                <div class="form-group">
                  <select name="goods_state" id="goods_state" class="form-control">
                    <option value="">全部</option>
                    <option value="0">待审核</option>
                    <option value="1">审核通过</option>
                    <option value="2">审核失败</option>
                    <option value="3">违规下架</option>
                  </select>
                </div>                       
                <div class="form-group">
                  <label class="control-label" for="input-order-id">关键词</label>
                  <div class="input-group">
                    <input type="text" name="key_word" value="" placeholder="搜索词" id="input-order-id" class="form-control">
                  </div>
                </div>                  
                <!--排序规则-->
                <input type="hidden" name="orderby1" value="goods_id" />
                <input type="hidden" name="orderby2" value="desc" />
                <button type="submit" onclick="ajax_get_table('search-form2',1)" id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i> 筛选</button>
              </form>
          </div>
          <div id="ajax_return"> </div>
        </div>
      </div>
    </div>
    <!-- /.row --> 
  </section>
  <!-- /.content --> 
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function () {
        // ajax 加载商品列表
        ajax_get_table('search-form2', 1);

    });

    // ajax 抓取页面 form 为表单id  page 为当前第几页
    function ajax_get_table(form, page) {
        cur_page = page; //当前页面 保存为全局变量
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=goods&a=ajaxGoodsList&p=" + page,//+tab,
            data: $('#' + form).serialize(),// 你的formid
            success: function (data) {
                $("#ajax_return").html('');
                $("#ajax_return").append(data);
            }
        });
    }

    // 点击排序
    function sort(field) {
        $("input[name='orderby1']").val(field);
        var v = $("input[name='orderby2']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='orderby2']").val(v);
        ajax_get_table('search-form2', cur_page);
    }

    // 删除操作
    function del(id) {
        if (!confirm('确定要删除吗?'))
            return false;
        $.ajax({
            url: "/index.php?m=Admin&c=goods&a=delGoods&id=" + id,
            success: function (v) {
                var v = eval('(' + v + ')');
                if (v.hasOwnProperty('status') && (v.status == 1))
                    ajax_get_table('search-form2', cur_page);
                else
                    layer.msg(v.msg, {icon: 2, time: 1000}); //alert(v.msg);
            }
        });
        return false;
    }

    //获取选中商品id
    function get_select_goods_id_str() {
        if ($('input[name="goods_id\[\]"]:checked').length == 0)
            return false;
        var goods_arr = Array();
        $('input[name="goods_id\[\]"]:checked').each(function () {
            goods_arr.push($(this).val());
        });
        var goods_id_str = goods_arr.join(',');
        return goods_id_str
    }

    act = '';//操作变量
    //批量操作
    function fuc_change(obj) {
        var fuc_val = $(obj).children('option:selected').val();
        if (fuc_val == 0) {
            //推荐
            act = 'recommend';
            $('#act_button').removeClass('disabled');
            reset_state();
        } else if (fuc_val == 1) {
            act = 'new';
            $('#act_button').removeClass('disabled');
            reset_state();
            //新品
        } else if (fuc_val == 2) {
            act = 'hot';
            $('#act_button').removeClass('disabled');
            reset_state();
            //热卖
        } else if (fuc_val == 3) {
            act = 'examine';
            $('#state_id').show();
            $('#act_button').addClass('disabled');
            $("#state_id option:first").prop("selected", 'selected');
            //审核商品
        } else {
            act = '';
            $('#act_button').addClass('disabled');
            reset_state();
            //恢复默认
        }
    }

    //重置审核操作
    function reset_state() {
        $("#state_id option:first").prop("selected", 'selected');
        $('#state_id').hide();
    }

    //审核操作
    function state_change(obj) {
        var state_val = $(obj).children('option:selected').val();
        if (state_val == '') {
            $('#act_button').addClass('disabled');
        } else {
            $('#act_button').removeClass('disabled');
        }
    }

    //批量操作提交
    function act_submit() {
        //prompt层
        var ids = get_select_goods_id_str();
        if (ids == false) {
            layer.alert('请勾选要操作的商品', {icon: 2});
            return;
        }
        var text = prompt('请输入操作备注', '填写操作备注,可不填');
        var goods_state = $('#state_id').children('option:selected').val();
        if (text != null && text != "") {
            $.ajax({
                type: "POST",
                url: "/index.php?m=Admin&c=goods&a=act",//+tab,
                data: {act: act,goods_state:goods_state,goods_ids: ids, reason: text},
                dataType: 'json',
                success: function (data) {
                    if(data.status == 1){
                        layer.alert(data.msg, {
                            icon: 1,
                            closeBtn: 0
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg, {icon: 2,time: 3000});
                    }

                },
                error:function(){
                    layer.alert('网络异常', {icon: 2,time: 3000});
                }
            });
        }
    }


</script>
</body>
</html>