*{margin:0;padding:0;text-decoration: none;font-family: "微软雅黑", "黑体";font-weight: normal;}
img{border:0;}

.cl{clear:both;}

.head .nav a:hover{text-decoration: underline;}
.head{ width:100%; height:30px; background:#008BB9;color:#fff;font: 12px/1.5 simsun,tahoma,arial,sans-serif;}
.head .nav{ height:30px; width:1200px;margin: 0 auto; }
.head .nav ul{overflow: hidden;float: left;}
.head .nav ul+p{float: left;line-height: 30px;margin-left: 20px;}
.head .nav ul+p+ul{float: right;}
.head .nav li{ height:30px; font-size:12px; line-height:30px; float:left; padding:0 10px; color:#FFF;} 
.head .nav li a{ color:#fff;}
.head .nav img{ float:left;}
.head .nav span{ float:left; line-height:30px;}
.head .left{ float:left; width:600px; text-align:right; line-height:30px;}

.benner{width:100%;overflow:hidden;}
.benner img{width:100%;}

/*主体信息*/
.rmain{width:1200px;margin:0 auto;}

.rmainl{width:39%;border:1px solid #ccc;margin: 40px auto;position:relative;overflow:hidden;}

.rmainc{width:42%;float:left;margin-top: 80px;position:relative;overflow:hidden;margin-left: 26px;}
.rmainc ul li{font-size:14px;color:#fff;line-height: 30px;height:30px;}
.rmainc ul li span{font-size:18px;color:#fff;text-align: right;width:100px;display:inline-block;float:left;}


/*推荐产品*/
.rztj{width:1200px;margin:0 auto;height:400px;/*background:#ccc;*/}
/*.rztj ul li{float:left;width:220px;height:350px;color:#333;border:1px solid #fefefe;text-align: center;overflow:hidden;margin-left: 2px;margin-right: 2px;}
.rztj ul li .rzgoods{height:220px;}
.rztj ul li p{text-align: left;padding-left: 5px;color:#ff9416;font-size:14px;line-height: 35px;}
.rztj ul li a{}*/

.product .left >ul> li{ width:218px; height:372px; float:left; margin:0 20px 20px 0; border:1px solid #cfcfcf; overflow:hidden;}
.product .left >ul> li:hover{ border:1px solid #008cba;}
.product .left figure{ width:220px; height:220px;}
.product .left ul li .one{ width:200px; height:35px; line-height:35px; margin:0 auto;}
.product .left ul li .one p{ font-size:14px; color:#ff9416; float:left; line-height:35px;}
.product .left ul li .one span{ font-size:12px; float:right; color:#cfcfcf; padding:0 7px;}
.product .left ul li .one span img{ margin-top:-4px;}
.product .left ul li h1{ height: 36px;overflow: hidden; line-height:18px; font-size:12px; color:#333; width:200px; margin:0 auto; }
.product .left ul li h1 a{color:#333;}
.product .left ul li h1 a:hover{ text-decoration:underline;}
.product .left ul li .two{ width:200px;height: 20px;line-height: 20px; margin:0 auto; }
.product .left ul li .two h2{ font-size:12px; color:#999; text-align: left;}
.product .left ul li .two img{ margin:0 4px;}
.product .left ul li .two span{float:right; color:#999; line-height:30px; font-size:10px;}
.product .left ul li .thr{ width:220px; height:66px; }
.product .left ul li .thr>div{border-bottom:1px solid #cfcfcf;}
.product .left ul li .thr >span{overflow:hidden;}
.product .left ul li .thr span{ padding:0 10px; color:#999; font-size:12px;line-height:20px;display: inline-block;height:18px; }
.product .left ul li .thr figure{ width:auto;text-align: center;height: 42px;line-height: 42px;} 
.product .left ul li .thr figure a{display: block;float: left;width: 55px;height: 42px;position: relative;}
.product .left ul li .thr figure a span{padding: 0;height: 42px;line-height: 42px;}
.product .left ul li .thr figure img{ display:inline-block;*display:inline;*zoom:1;}
.product .left ul li .thr .certification,
.product .left ul li .thr .certifications,
.product .left ul li .thr .certificationt{display: block;}
.product .left ul li .thr .tip,
.product .left ul li .thr .tips,
.product .left ul li .thr .tipt{position: absolute;display: none;}
.product .left ul li .thr .tip span,
.product .left ul li .thr .tips span,
.product .left ul li .thr .tipt span{display: block;}
.product .left ul li .thr .tip span{color: #01AD01;line-height: 22px;}
.product .left ul li .thr .tips span{color: red;}
.product .left ul li .thr .tipt span{line-height: 22px;height: 62px;color: #666666;}
.product .left ul li .thr .tip,
.product .left ul li .thr .tips{top: -183px;left: 0;width: 200px;height: 142px;padding:20px 10px;z-index: 10;background: #FFFFFF;}
.product .left ul li .thr .tipt{top: -183px;left: -57px;background: #FFFFFF;width: 200px;height: 162px;padding: 10px;z-index: 10;}
.product .left ul li .thr .tipt .arrow{position: absolute;bottom: -8px;left: 78px;}
.product .left ul li .thr .tip .arrow{position: absolute;bottom: -8px;left: 20px;}
.product .left ul li .thr .tips .arrow{position: absolute;bottom: -8px;left: 20px;}
.product .left ul li .thr .certification:hover .tip{display: block;}
.product .left ul li .thr .certifications:hover .tips{display: block;}
.product .left ul li .thr .certificationt:hover .tipt{display: block;}
        



/*返回顶部*/
.top-back{display: none;position: fixed;right: 20px;bottom: 100px; width: 50px;height: 50px;background:#008cba;overflow: hidden;}
.top-back a{display: block;width: 50px;height: 50px;text-align: center;color: #ffffff !important;}
.top-back .top{font-size: 20px;font-weight: bolder;line-height: 42px;}
.top-back .txt{text-decoration: none;width: 40px;height: 40px;padding: 5px;font-size: 14px;}
.top-back .hide{display: none;}
.top-back:hover .top{display: none;}
.top-back:hover .txt{display: block;}



.caroursel{margin:0 auto;overflow:hidden;}
ul,li { list-style:none}
 .img-scroll { position:relative; margin:0 auto; width:100%;}
 .img-scroll .prev,.img-scroll .next { position:absolute; display:block; width:50px; height:50px;top:36%; color:#FFF; text-align:center; line-height:50px}
 .img-scroll .prev { left:0;cursor:pointer;}
 .img-scroll .next { right:0;cursor:pointer;}
 .img-list { position:relative; width:350px; height:150px; margin-left:60px; overflow:hidden}
 .img-list ul { width:9999px;}
 .img-list li { float:left; display:inline; width:170px; margin-right:5px;height:150px; text-align:center; line-height:100px;}		

.rmainr{width:35%;float:left;margin-top: 100px;position:relative;overflow:hidden;}

.footer{ width:100%;background:#f3f3f3; margin-top:60px; padding-top:50px;font-family: "微软雅黑", "黑体";font-size: 14px;}
.footer .pr{ width:1200px; height:210px; margin:0 auto; border-bottom:1px solid #c7c7c7;text-align: center;padding-bottom: 30px;}
.footer .pr .prc{ display:inline-block;*display:inline;*zoom:1;overflow: hidden;height: 210px;float:left;}

.footer .pr .Tphone{float:left;width:300px;border-left: 1px solid #ccc;height:150px;margin-left: 80px;padding-left: 20px;margin-top:20px;padding-top: 35px;}
.footer .pr .Tphone p{line-height: 30px;}
.footer .pr .Tphone h2{color:#1691BD;font-size:18px;font-weight: normal;line-height: 30px;}						
.footer .pr .Tphone a{display:inline-block;width:150px;height:30px;border-radius:5px;line-height: 30px;border:1px solid #1691BD;color:#1691BD;margin-top: 10px;}
.footer .pr .Tphone a:hover{color:#fff;background:#1691BD;}

.footer dl{ width: 150px; height:210px; float:left;}
.footer dl dt{ height:60px; font-size:15px; line-height:60px;}
.footer dl dd{ line-height:25px;}
.footer dl dd a{ color:#757575;}
.footer .pr .right{ float:right; height:120px; width:259px;text-align:center;  margin-top:35px; border-left:1px solid #c7c7c7;}
.footer .pr .right h1{ font-size:20px; text-align:center; color:#008cba;}
.footer .pr .right p{ line-height:40px; font-size:12px; color:#757575;}
.footer .pr .right .kf{ width:120px; height:30px; border:1px solid #008cba; color:#008cba; line-height:30px; font-size:12px; margin:0 auto; border-radius:5px;}
.footer h6{ width:1200px; line-height:45px; margin:0 auto; text-align:center; font-size:12px;font-weight: normal;}
.footer h6 a{ color:#757575;}

.footer footer{/*  margin:50px auto; */ font-size:14px; line-height:30px; text-align:center;background: none;padding-bottom: 20px;}




