<style type="text/css">
  li{
    list-style: none;
  }
  .three-menu li{line-height: 28px;}
</style>
<aside class="main-sidebar" style="overflow-y:auto;">
      <section class="sidebar">
        <ul class="sidebar-menu"> 
        <foreach name="menu_list" item="vo" key="k" >
          <li class="treeview">
            <php>if($vo['child']){</php>
              <a href="javascript:void(0)" target='rightContent'>
                <i class="fa {$vo.icon}"></i><span>{$vo.name}</span><i class="fa fa-angle-left pull-right"></i>
              </a>
              <php>}else{</php>
                  <a href="{$vo.act}" target='rightContent' onclick="window.open('{$vo.act}','rightContent')">
                <i class="fa {$vo.icon}"></i><span >{$vo.name}</span><i class="fa fa-angle-left pull-right"></i><!-- 一级无子级 -->
              </a>
              <php>}</php>
               <notempty name="vo['child']">
               <ul class="treeview-menu">
                  <foreach name="vo['child']" item="vo2" key="kk" >
                      <li onclick="makecss(this)" data-id="info_Userinfo">
                          <php>if($vo2['child']){</php>
                          <a  target='rightContent' href="javascript:void(0)"><i class="fa {$vo2.icon}"></i>{$vo2.name}</a>
                          <php>}else{</php>
                          <a target='rightContent' href="{:U("$vo2[op]/$vo2[act]")}"><i class="fa fa-circle-o"></i>{$vo2.name}</a>
                          <php>}</php>
                          <notempty name="vo2['child']">
                          <ul class="three-menu">
                          <foreach name="vo2['child']" item="vo3" key="kkk" >
                                <li >
                                    <a href="{:U("$vo3[op]/$vo3[act]")}" id="actuserinfo{$kkk}" target='rightContent'><i class="fa {$vo3.icon}"></i>{$vo3.name}</a>
                                    
                                </li>
                          </foreach>
                                 
                          </ul>
                          </notempty>
                      </li>
                  </foreach>
                </ul>
                </notempty>
              </li>
            </foreach>
          </ul>
        </section>
</aside>

<script type="text/javascript">
$('#actstoree1').attr('href','/index.php/Seller/Store/store_tpl?t=pc&tpl=fuzhuang&layer=1');

$(function(){
  $('.three-menu').prev().click(function(event) {
   
    $(this).parent().siblings('li').find('.three-menu').slideUp();
    $(this).next().slideToggle();

    $(this).parent().parent().prev().click(function(){
      $(this).next().find('.three-menu').slideUp();
    })
  });


});

</script>