<include file="Public/min-header"/>
<style>
	 *{padding:0;margin:0;}
	 input:focus,button:focus{outline:none;} 
	.Main-commodity{width:584px;height:95px;border: 1px solid gray;}
    .Main-commodity>.Mc-list{width:98%;height:87px;padding:3px 1%;overflow:hidden;}
    .Main-commodity>.Mc-list>.Mc-item>.inp{float: left;border:1px solid #666;margin-bottom:5px;margin-right: 10px;width:94px;height:24px;line-height: 24px;text-align:left;overflow:hidden;}
            
    .Mc-btn{width:72px;float:left;height:24px;line-height:24px;text-align:center;overflow: hidden;color:red;border:1px solid red;cursor: pointer;margin-right: 2%;}
    .Remove-btn{float:left;width:13px;height:14px;background:url(__PUBLIC__/images/seller/cancel.png)no-repeat center;margin-top:10px;margin-left:-24px;}
    .Mc-item{float: left;width:97px;height:24px;}
    /**/ 
.Main-commodityy{width:584px;height:95px;border: 1px solid gray;}
    .Main-commodityy>.Mc-listt{width:98%;height:87px;padding:3px 1%;overflow:hidden;}
    .Main-commodityy>.Mc-listt>.Mc-itemm>.inpp{float: left;border:1px solid #666;margin-bottom:5px;margin-right: 10px;width:94px;height:24px;line-height: 24px;text-align:left;overflow:hidden;}
            
    .Mc-btnn{width:72px;float:left;height:24px;line-height:24px;text-align:center;overflow: hidden;color:red;border:1px solid red;cursor: pointer;margin-right: 2%;}
    .Remove-btnn{float:left;width:13px;height:14px;background:url(__PUBLIC__/images/seller/cancel.png)no-repeat center;margin-top:10px;margin-left:-24px;}
    .Mc-itemm{float: left;width:97px;height:24px;}
    
</style> 
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content" style="padding:0px 15px;">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                <!-- <a onclick="get_help(this)" data-url="" class="btn btn-default" href="javascript:;"><i class="fa fa-question-circle"></i> 帮助</a> -->
            </div>
            <div class="panel panel-default">           
                <div class="panel-body ">   
                    <include file="store_setting_navtabs"/>
                    <!--表单数据-->
                    <form method="post" id="handlepost" action="{:U('Store/setting_save')}">                    
                        <!--通用信息-->
                    <div class="tab-content" style="padding:20px 0px;">                 	  
                        <div class="tab-pane active" id="tab_tongyong">                           
                            <table class="table table-bordered">
                                <tbody> 
                                <tr><td>店铺等级：</td>
                                	<td colspan="2">{$store.grade_name}</td>
                                </tr>
                                <tr><td>店铺名称：</td>
                                	<td><input type="text" name="store_name" value="{$store.store_name}" id="store_name" onchange="check_store()"></td>
                                	<td class="text-warning">显示网站的基本名称，也可拟写SEO网站标题，便于搜索引擎推广您的网站。（对于不懂网站优化的您，建议填写企业名称，如：广州XX设备有限公司。</td>
                                </tr>
                                <tr>
                                    <td >主营商品：</td>
                                    <td class="Main-commodity">
                                    	<div class="Mc-list">
                                        <foreach name="store['store_zy']" item="vv" key="kk">
                                        <div class="Mc-item">
                                        <input type="text" class="inp" name="zyy[]" value="{$vv}">
                                        <span class="Remove-btn"></span>
                                        </div>
                                        </foreach>
									<span class="Mc-btn">点击增加</span></div>
									</td>
                               		<td class="text-warning">每个框填写一个关键词，限于6个字内，利于搜索引擎优化推广以及让您的客户更加容易找到产品。</td>
                                </tr>
            <script>
				var McBtn=document.getElementsByClassName('Mc-btn')[0];
                var McList=document.getElementsByClassName('Mc-list')[0];
                var McItem=document.getElementsByClassName('Mc-item')[0]; 
                McBtn.onclick=function(){
                    if ($('.Mc-item').length > 9){
                        alert('不能再多了');
                        return;
                    }
                    var cancelBtn=document.createElement("span");     
                    var myElement =document.createElement("input");
                    var McItem=document.createElement("div"); 
                    myElement.type="text";
                    myElement.name="zyy[]";
                    myElement.value="";
                    McItem.setAttribute("class","Mc-item");
                    cancelBtn.setAttribute("class","Remove-btn");  
                    myElement.setAttribute("class", "inp");
                    McItem.insertBefore(cancelBtn,McItem.childNodes[0]);
                    McItem.insertBefore(myElement,McItem.childNodes[0]);
                    McList.insertBefore(McItem,McList.childNodes[0]);
                    
                    var RemoveBtn=document.querySelectorAll('.Remove-btn');
                    
                    for (var i = 0; i < RemoveBtn.length; i++) {
                        RemoveBtn[i].index=i;
                        RemoveBtn[i].onclick=function(){
                        var McItem = document.querySelectorAll('.Mc-item');
                            for (var i = 0; i < McItem.length; i++) {
                                McItem[i].addEventListener('click', function(){
                                  this.parentNode.removeChild(this);
                                }, false);
                            }
                        }
                    }
                    
                }
                var RemoveBtn=document.getElementsByClassName('Remove-btn');
                 for (var i = 0; i < RemoveBtn.length; i++) {
                        RemoveBtn[i].index=i;
                        RemoveBtn[i].onclick=function(){
                        var McItem = document.querySelectorAll('.Mc-item');
                            for (var i = 0; i < McItem.length; i++) {
                                McItem[i].addEventListener('click', function(){
                                  this.parentNode.removeChild(this);
                                }, false);
                            }
                        }
                    }
			</script>
                                <!--   
                              	<tr>
                                    <td>店铺二维码：</td>
                                    <td>                     		
            							<img src="" height="100px" title="">
                                    </td>
                                    <td class="text-warning">保存后，生成新的二维码</td>
                                </tr>  
                                -->                             
                                <tr>
                                    <td>店铺LOGO：</td>
                                    <td><div style="width: 200px;height: 80px;">
                                    		 <img height="80" id="store_logo" src="<empty name='store.store_logo'><else/>{$store.store_logo}</empty>" nc_type="store_label">
         								 </div>
         								 <input type="hidden" name="store_logo" value="{$store.store_logo}">
                         		 		<input type="button" class="button" onClick="GetUploadify(1,'store_logo','seller','callback1')"  value="上传  logo"/>
                                   </td>
                                	<td  class="text-warning">每个企业拥有独特性标志。建议使用200KB大小文件，宽度200*高度60的GIF或PNG格式图片，提交后网站前台/全站生效（点击提交生效）</td>
                                </tr>                                    
                            	<tr>
                                    <td>店铺banner：</td>
                                    <td><div style="height:100px;">
                                    		 <img style="width:580px;height:100px;"  id="store_banner" src="<empty name='store.store_banner'>__PUBLIC__/images/not_adv.jpg<else/>{$store.store_banner}</empty>" nc_type="store_label">
         								 </div>
         								 <input type="hidden" name="store_banner" value="{$store.store_banner}">
                                     </td>
                                	<td >
                                		<span class="text-warning">网站每个主题页面的广告图片。建议使用宽1920像素*高120像素的图片不超过1M大小；点击下方"提交"按钮后生效。（保存后可到前台首页预览效果）</span>
                                		<p style="margin: 10px 0;"><input type="button" class="button" onClick="GetUploadify(1,'store_banner','seller','callback2')"  value="上传banner"/></p>
                                		<!--   
                                		<p>banner背景颜色<input class="form-control" name="bgcolor" type="color" value="{$info.bgcolor}" style="width:200px;"/></p>
                                		-->
                                	</td>
                                </tr>
                                
                                <tr>
                                    <td>店铺电话：</td>
                                    <td><input type="text"  pattern="^\d{1,}$" title="只能输入数字"  class="input-sm" name="store_phone" value="{$store.store_phone}"></td><td class="text-warning">格式(区号+电话号码)如020-00000000或400-00000000）</td>
                                </tr>
                                <tr>
                                    <td>手机</td>
                                    <td><input type="text"  pattern="^\d{1,}$" title="只能输入数字"  class="input-sm" name="mobile" value="{$store.mobile}"></td><td class="text-warning"> 格式(11位数)：如13800000000
                                    </td>
                                </tr>
                                <!-- <tr>
                                	<td>客服QQ：</td>
                                	<td colspan="2"><input type="number" name="store_qq" class="input-sm" value="{$store.store_qq}"></td>
                                </tr>
                                <tr>
                                    <td>阿里旺旺：</td>
                                    <td colspan="2"><input type="text" name="store_aliwangwang" class="input-sm" value="{$store.store_aliwangwang}"></td>
                                </tr> -->
                                <tr>
                                    <td>邮箱：</td>
                                    <td><input type="text" name="email" class="input-sm" value="{$store.email}"></td><td class="text-warning">格式：用户名@邮箱网站.com</td>
                                </tr>
                                 <tr>
                                    <td>二维码：</td>
                                    <td><div style="width: 200px;height: 80px;">
                                             <img height="80" id="store_erweima" src="<empty name='store.store_erweima'><else/>{$store.store_erweima}</empty>" nc_type="store_label">
                                         </div>
                                         <input type="hidden" name="store_erweima" value="{$store.store_erweima}">
                                        <input type="button" class="button" onClick="GetUploadify(1,'store_erweima','seller','callback3')"  value="上传二维码"/>
                                   </td>
                                    <td  class="text-warning">建议使用宽200像素-高60像素内200KB内的GIF或PNG格式图片；显示在网站右边客服区或是底部信息区域，点击下方"提交"按钮后生效</td>
                                </tr>   
                                <tr>
                                	<td>公司地址：</td>
                                	<td colspan="5">
                                	   <div class="col-xs-2">
                                        <select onchange="get_city(this)" id="province" name="province_id" class="form-control" style="margin-left:-15px;">
                                            <option  value="0">选择省份</option>
                                            <volist name="province" id="vo">
                                                <option value="{$vo.id}" <if condition="$store[province_id] eq $vo[id]">selected</if>>{$vo.name}</option>
                                            </volist>
                                        </select>
                                        </div>   
                                        <div class="col-xs-2">                                        
                                        <select onchange="get_area(this)" id="city" name="city_id" class="form-control">
                                            <option value="0">选择城市</option>
                                            <volist name="city" id="vo">
                                                <option value="{$vo.id}" <if condition="$store[city_id] eq $vo[id]">selected</if>>{$vo.name}</option>
                                            </volist>
                                        </select>
                                        </div>   
                                        <div class="col-xs-2">                                        
                                        <select id="district" name="district" class="form-control">
                                            <option value="0">选择区域</option>
                                            <volist name="area" id="vo">
                                                <option value="{$vo.id}" <if condition="$store[district] eq $vo[id]">selected</if>>{$vo.name}</option>
                                            </volist>
                                        </select>
                                        </div> 
                                        <div class="col-xs-3">
                                        	<input type="text" placeholder="详细地址" class="form-control" name="store_address" value="{$store.store_address}">
                                        </div>      
                                	</td>
                                </tr>
                                <tr>
                                    <td>满多少免运费：</td>
                                    <td><input type="text" class="form-control" name="store_free_price" value="{$store.store_free_price}" onkeyup="this.value=this.value.replace(/[^\d.]/g,'')" onpaste="this.value=this.value.replace(/[^\d.]/g,'')" style="width: 100px;"></td>
                                    <td class="text-warning">超出该金额免运费，大于0才表示该值有效</td>
                                </tr>
                                <tr>
                                	<td>SEO关键字：</td>
                                	<td class="Main-commodityy">
                                    	<div class="Mc-listt">
                                    	<foreach name="store['seo_keywords']" item="vvv" key="kkk">
                                        <div class="Mc-itemm">
                                    	<input type="text" class="inpp" name="seo[]" value="{$vvv}">
                                    	 <span class="Remove-btnn"></span>
                                        </div>
                                        </foreach>
									<span class="Mc-btnn">点击增加</span></div>
									</td>
                                	<td class="text-warning">每个框填写一个关键词，限于6个字内，点击可增加，最多可以添加10个，作用利于搜索引擎优化推广。</td>
                                	
                                </tr>  
    <style>
    
    </style>
    <script>
    var McBtnn=document.getElementsByClassName('Mc-btnn')[0];
    var McListt=document.getElementsByClassName('Mc-listt')[0];
    var McItemm=document.getElementsByClassName('Mc-itemm')[0]; 
    McBtnn.onclick=function(){
        if ($('.Mc-itemm').length > 9){
            alert('不能再多了');
            return;
        }
        var cancelBtnn=document.createElement("span");     
        var myElementt =document.createElement("input");
        var McItemm=document.createElement("div"); 
        myElementt.type="text";
        myElementt.name="seo[]";
        myElementt.value="";
        McItemm.setAttribute("class","Mc-itemm");
        cancelBtnn.setAttribute("class","Remove-btnn");  
        myElementt.setAttribute("class", "inpp");
        McItemm.insertBefore(cancelBtnn,McItemm.childNodes[0]);
        McItemm.insertBefore(myElementt,McItemm.childNodes[0]);
        McListt.insertBefore(McItemm,McListt.childNodes[0]);
        
        var RemoveBtnn=document.querySelectorAll('.Remove-btnn');
        
        for (var i = 0; i < RemoveBtnn.length; i++) {
            RemoveBtnn[i].index=i;
            RemoveBtnn[i].onclick=function(){
            var McItem1 = document.querySelectorAll('.Mc-itemm');
                for (var i = 0; i < McItem1.length; i++) {
                    McItem1[i].addEventListener('click', function(){
                      this.parentNode.removeChild(this);
                    }, false);
                }
            }
        }
        
    }
 
      var RemoveBtnn=document.getElementsByClassName('Remove-btnn');
                 for (var i = 0; i < RemoveBtnn.length; i++) {
                        RemoveBtnn[i].index=i;
                        RemoveBtnn[i].onclick=function(){
                        var McItem1 = document.querySelectorAll('.Mc-itemm');
                            for (var i = 0; i < McItem1.length; i++) {
                                McItem1[i].addEventListener('click', function(){
                                  this.parentNode.removeChild(this);
                                }, false);
                            }
                        }
                    }  

    </script>
                                <tr>

                                	<td>SEO店铺描述：</td>
                                	<td>
                                		<textarea rows="4" cols="80" name="seo_description">{$store.seo_description}</textarea>
                                	</td>
                                	<td class="text-warning">请详细描述网站相关，编写小技巧，可围绕您企业的核心关键词来描述长尾关键词或品牌词，长度建议在80个字内，不要超出200个字符</td>
                                </tr>   
            
                                 <tr>
                                    <td>版权信息：</td>
                                    <td><input type="text" class="form-control" name="copyright" value="{$store.copyright}"></td>
                                    <td class="text-warning">只会在独立网站显示</td>
                                    
                                </tr>  
                                <tr>
                                    <td>备案号：</td>
                                    <td><input type="text" class="form-control" name="record" value="{$store.record}"></td>
                                    <td class="text-warning">只会在独立网站显示</td>
                                    
                                </tr>      
                                </tbody> 
                                <tfoot>
                                	<tr>
                                	<td><input type="hidden" name="store_id" value="{$store.store_id}"></td>
                                	<td><input class="btn btn-primary" type="button" onclick="adsubmit()" value="保存"></td>
                                	<td class="text-right"></td>
                                	</tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    var check_name = true;
    function check_store(){
        var store_name = document.getElementById('store_name').value;
        if (store_name == ''){
            alert('店铺名不能为空');
            check_name = false;
            return;
        } else {
            $.post('{:U("store/ajax_store")}','store_name='+store_name,function(res){
                if (res){
                    alert('店铺名字已存在,请更换');
                    check_name = false;
                    return;
                } else {
                    check_name = true;
                }
            })
        }
    }
function adsubmit(){
    if (check_name != false){
	   $('#handlepost').submit();
    } else {
        alert('店铺名已存在');
    }
}

function goset(obj){
	window.location.href = $(obj).attr('data-url');
}

function callback1(img_str){
	$('input[name="store_logo"]').val(img_str);
	$('#store_logo').attr('src',img_str);
}

function callback2(img_str){
	$('input[name="store_banner"]').val(img_str);
	$('#store_banner').attr('src',img_str);
}
function callback3(img_str){
    $('input[name="store_erweima"]').val(img_str);
    $('#store_erweima').attr('src',img_str);
}

</script>
</body>
</html>
