<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
	<meta charset="UTF-8">
	<title>用户体验</title>
	<link rel="stylesheet" href="__PUBLIC__/css/tiyan.css" />
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/js/layer/layer.js"></script>
</head>
<style>
.td{ border:1px #ff0000 solid}
</style>
<body>
<form action="" method="post" id="formall">
	<h2 style="text-align: center;">用户体验</h2>
	<h4>平均打分：美观{$beautiful}   操作{$operation}   交易{$trading}</h4>
	<table border="1px soild" width="90%" style="text-align: center;color: #55f;border-color: #00f">
		<th width="8%">I D</th>
		<th width="10%">美观评分</th>
		<th width="10%">操作评分</th>
		<th width="10%">交易评分</th>
		<th width="44%">留言内容</th>
		<th width="8%">操作</th>
		<th width="10%"><input type="checkbox" onclick="SelectAll()" /><a href="javascript:;" onclick="delete_all()">删除</a></th>
		<foreach name="experience" item="v">
		<tr id="tr{$v[id]}">
			<td>{$v[id]}</td>
			<td>{$v.beautiful}</td>
			<td>{$v.operation}</td>
			<td>{$v.trading}</td>
			<td ><a href="javascript:;" onclick="chakan({$v.id})" ><div style="width:400px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis" id="btn[{$v.id}]">{$v.message}</div></a></td>
			<td><a href="javascript:;" onclick="delete_mes({$v.id})">删除</a></td>
			<td><input type="checkbox" name="choose[]" value="{$v.id}"></td>
		</tr>
		</foreach>
	</table>
</form>
	<td class="td">{$show}</td>
</body>
<script>
	 function SelectAll() {
		var checkboxs=document.getElementsByName("choose[]");
		for (var i=0;i<checkboxs.length;i++) {
		var e=checkboxs[i];
		  e.checked=!e.checked;
		}
	}

	function delete_all(){
		$.post("{:U('user/delete_all')}",$('#formall').serialize(),
			function(res){
				if (res){
					location.reload(); 
					layer.msg('删除成功',{icon:1});
				} else {
					layer.msg('删除失败',{icon:2});
				}
			})
	}
	

	function delete_mes(t){
		var t2 = document.getElementById('tr'+t);
		$.post("{:U('user/delete_exp')}","id="+t,function(res){
			if (res){
				layer.msg('删除成功',{icon:1});
				t2.parentNode.removeChild(t2);
			} else {
				layer.msg('删除失败',{icon:2});
			}
		})
	}

	function chakan(p){
		var btn = document.getElementById("btn["+p+"]").innerHTML;
		layer.alert(btn);
	}
	
	</script>
</html>