<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
	<meta charset="UTF-8">
	<title>用户体验</title>
	<link rel="stylesheet" href="__PUBLIC__/css/tiyan.css" />
	<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
	<script src="__PUBLIC__/js/layer/layer.js"></script>
</head>
<style>
.inner{width:400px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
</style>
<body>
<form action="{:U('/Admin/User/delete_all2')}" method="post" id="formone">
	<h2 style="text-align: center;">用户留言</h2>
	<table border="1px soild" width="98%" style="text-align: center;color: #55f;border-color: #55f">
		<th width="4%">I D</th>
		<th width="10%">姓名</th>
		<th width="12%">手机号码</th>
		<th width="12%">QQ</th>
		<th width="16%">邮箱</th>
		<th width="30%">留言内容</th>
		<th width="8%">操作</th>
		<th width="8%"><input type="checkbox" onclick="SelectAll()" /><a href="javascript:;" onclick="onesubmit()">删除</a></th>
		<foreach name="message" item="vv">
		<tr id="tid{$vv.id}">
			<td>{$vv.id}</td>
			<td>{$vv.name}</td>
			<td>{$vv.phone}</td>
			<td>{$vv.qq}</td>
			<td>{$vv.email}</td>
			<td ><a href="javascript:;" onclick="chakan('{$vv.id}')" ><div class="inner" id="{$vv.id}">{$vv.message}</div></a></td>
			<td><a href="javascript:;" onclick="delete_mes('{$vv.id}')">删除</a></td>
			<td><input type="checkbox" name="choose[]" value="{$vv.id}"></td>
		</tr>
		</foreach>
	</table>
</form>
</body>
<script>
	 function SelectAll() {
		var checkboxs=document.getElementsByName("choose[]");
		for (var i=0;i<checkboxs.length;i++) {
		var e=checkboxs[i];
		  e.checked=!e.checked;
		}
	}

	function delete_mes(id){
		$.post('/Admin/User/delete_mes',{'id':id},function(res){
			if (res){
				$('#tid'+id).remove();
			}else{
				alert('删除失败');
			}
		})
	}

	function chakan(id){
		layer.alert($('#'+id).html());
	}
	
	function onesubmit(){
		$('#formone').submit();
	}
	</script>
</html>