<!DOCTYPE html>
<html>
  <head>
<link rel="shortcut icon" href="/Public/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8">
    <title>轮播图管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
 	<link href="__PUBLIC__/bootstrap/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />   
    <script src="__PUBLIC__/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/global.js"></script>
    <script src="__PUBLIC__/js/myFormValidate.js"></script>    
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/layer/layer-min.js"></script><!-- 弹窗js 参考文档 http://layer.layui.com/-->
    <script src="__PUBLIC__/js/myAjax.js"></script>
  </head>
  <include file="Public/min-header" />
  <body style="background-color:#ecf0f5;">
<style>
.picture {
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border: solid 1px #F5F5F5;
    overflow: hidden;
}
.picture img {
    /*max-width: 160px;*/
    width: 100%;
    max-height: 100px;
    margin-top: expression(100-this.height/2);
}
.col-md-2 {
    width: 17.66666667%;
}
</style>
<div class="wrapper">
    <section class="content" style="padding:0px 15px;">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
                <a onclick="get_help(this)" data-url="http://www.tp-shop.cn/Doc/Indexbbc/article/id/1064/developer/user.html" class="btn btn-default" href="javascript:;"><i class="fa fa-question-circle"></i> 帮助</a>                
            </div>
            <div class="panel panel-default">           
                <div class="panel-body ">   
                    <!--表单数据-->
                    <form method="post" id="handlepost" action="{:U('user/renzheng_lunbo')}">                    
                    <!--通用信息-->
                    <div class="tab-content" style="padding:20px 0px;">                 	  
                        <div class="tab-pane active" id="tab_tongyong"> 
                          	<div class="callout callout-inro">
								<p>1. 最多可上传5张幻灯片图片。 </p>
						        <p>2. 支持jpg、jpeg、gif、png格式上传，建议图片宽度940px、高度在300px到440px之间、大小1.00M以内的图片。提交2~5张图片可以进行幻灯片播放，一张图片没有幻灯片播放效果。</p>
						        <p>3. 操作完成以后，按“提交”按钮，可以在当前页面进行幻灯片展示。</p>
                                <p>4.注意：删除以后，需要提交设置才是永久删除。</p>
				            </div>
                        </div>  
					  	<div class="row" style="margin:20px auto;text-align:center;max-width:800px;">
						  	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			                    <ol class="carousel-indicators">
			                    <foreach name="lunbo" item="vo" key="k">
			                     <if condition="$vo neq ''">
			                      	<li data-target="#carousel-example-generic" data-slide-to="{$k}" class=" <if condition='$k eq 0'>active</if>"></li>
			                     </if>
			                    </foreach>
			                    </ol>
			                    <div class="carousel-inner">
			                    <foreach name="lunbo" item="vo" key="k">
			                      <if condition="$vo neq ''">
			                      <div class="item <if condition='$k eq 0'>active</if>">
			                        <img height="250" src="{$vo}" alt="First slide">
			                        <div class="carousel-caption">
			                        </div>
			                      </div>
			                      </if>
			                    </foreach>
			                    </div>
			                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
			                      <span class="fa fa-angle-left"></span>
			                    </a>
			                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
			                      <span class="fa fa-angle-right"></span>
			                    </a>
		                  </div>
	                  </div> 
	                 <div class="row col-md-12">
	                 	<for start="0" end="5">

		                <div class="col-sm-4 col-md-3 col-lg-2">
		                  <div class="thumbnail">
		                    <div class="picture"><img  id="srcpath_{$i}"  <empty name="lunbo[$i]">src="__PUBLIC__/images/not_adv.jpg"<else />src="{$lunbo[$i]}"</empty>>
		                    <input type="hidden" id="imgpath_{$i}" name="renzheng_lunbo[]" value="{$lunbo[$i]}">
		                    </div>
		                    <div class="caption">
		                    <p>跳转URL...<br/><input type="text"  name="jump[]" class="form-control" value="<empty name="jump[$i]">http://<else />{$jump[$i]}</empty>"></p>
		                    <p><input type="button" class="btn btn-default" onClick="upload_img('{$i}')"  value="上传图片" />&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-default" onclick="delete_img(imgpath_{$i},srcpath_{$i})" value="删除" /></p>
		                    </div>
		                  </div>
		                </div>
		                </for>
		              </div> 
		             <div class="row" style="text-align:center;"><a href="javascript:void(0)" onclick="adsubmit()" class="btn btn-info margin">提交设置</a></div>         
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>

<script>
function adsubmit(){
	$('#handlepost').submit();
}

function delete_img(t,p){
    p.src = '__PUBLIC__/images/not_adv.jpg';
    t.value = '';
}
function goset(obj){
	window.location.href = $(obj).attr('data-url');
}
var turn = 0;
function upload_img(i){
	turn = i;
	GetUploadify(1,'store_logo','seller','callback');
}

function callback(img_str){
	$('#imgpath_'+turn).val(img_str);
	$('#srcpath_'+turn).attr('src',img_str);
}
</script>
</body>
</html>