

.y_content{margin: 0.741rem auto 0.833rem;background: #e4e5e9;}
.y_content .y_banner img{width: 100%;display: block;}
/*abstract*/
.y_content .abstract {margin-top:0.2021rem;background: #FFF;padding:0 0.2021rem 0.3368rem; }
.y_content .abstract a{display: block;}
.y_content .abstract .txt h3{padding: 0.3rem 0;color: #333333;font-weight: normal;font-size: 0.2358rem;text-align: center;}
.y_content .abstract .txt p{color: #666666;font-size: 0.2021rem;line-height: 0.3rem;text-indent: 2em;text-align: justify;}

.y_content .abstract .address h3{padding: 0.15rem 0 0.1rem;color: #333333;font-weight: normal;font-size: 0.2358rem;}
.y_content .abstract .address p{color: #666666;font-size: 0.2021rem;line-height: 0.3rem;text-align: justify;}

.y_content .abstract .address a{color: #ff0012;font-size: 0.2021rem;display: block;margin-top:0.15rem;}

.y_content .y_bottom{padding: 0.2863rem 0;}
.y_content .y_bottom p{color: #999999;font-size:  0.2021rem;text-align: center;line-height: 0.3031rem;}











